<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Competition Entries</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-desktop">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Competitions</a></li>
            <li class="is-active"><a href="#" aria-current="page">Competition Entries</a></li>
        </ul>
    </nav>
</div>

<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title">Competition Entries</h1>
    </div>

    <div class="field">
        <label class="label">Competition Title</label>
        <div class="control has-icons-left">
            <input id="compTitle" name="compTitle" class="input" type="text" value="{{competition.title}}" disabled>
            <span class="icon is-small is-left">
                <i class="fa-solid fa-heading"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Competition Question</label>
        <div class="control has-icons-left">
            <input id="compQuestion" name="compQuestion" class="input" type="text" value="{{competition.questionText}}" disabled>
            <span class="icon is-small is-left">
                <i class="fa-solid fa-circle-question"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Competition Answers</label>
        <div class="control has-icons-left">
            <input id="compTitle" name="compTitle" class="input" type="text" value="{{competition.questionAnswers}}" disabled>
            <span class="icon is-small is-left">
                <i class="fa-solid fa-list-ol"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Correct Answer</label>
        <div class="control has-icons-left">
            <input id="compTitle" name="compTitle" class="input" type="text" value="{{competition.correctAnswer}}" disabled>
            <span class="icon is-small is-left">
                <i class="fa-solid fa-circle-check"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Number of Entries</label>
        <div class="control has-icons-left">
            <input id="compTitle" name="compTitle" class="input" type="text" value="{{competition.currentEntries}}" disabled>
            <span class="icon is-small is-left">
                <i class="fa-solid fa-ticket"></i>
            </span>
        </div>
    </div>

    <div class="container is-max-desktop mb-4">
        <a href="/admin/editCompetition/{{competition.id}}" class="button is-fullwidth is-link is-outlined">Edit Competition</a>
    </div>

    <hr></hr>

    <section class="container">
        <h2 class="title">
            <p>Users Answers</p>
        </h2>      
        <p id="totalRowCount"></p>
    </section>
    <div class="tabs-wrapper">
        <div class="tabs is-centered mt-6 is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Correct ({{correctUsers}})</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Incorrect ({{incorrectUsers}})</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <ul>
                <li class="is-active">
                    {{#if correctUsers}}
                        <table id="correctTable" class="table is-bordered is-striped is-narrow is-fullwidth">
                            <thead>
                                <tr class="is-clickable">
                                    <th><span>Username</span><span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                    <th></span>First Name<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                    <th></span>Last Name<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                    <th></span>Ticket Number<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                    <th></span>Comp Answer<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{# each correctTickets}}
                                    {{# each this.ticketNumbersObjects}}
                                        <tr>
                                            <td>{{../this.userReference.username}}</td>
                                            <td>{{../this.userReference.firstName}}</td>
                                            <td>{{../this.userReference.lastName}}</td>
                                            <th>{{this.ticketNumber}}</th>
                                            <td>{{../this.compAnswer}}</td>
                                        </tr>
                                    {{/each}}
                                {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <div class="column is-full">
                            <div class="notification">
                                <p>No correct entries to show.</p>
                            </div>
                        </div>
                    {{/if}}
                </li>
                <li>
                    {{#if incorrectUsers}}
                        <table id="incorrectTable" class="table is-bordered is-striped is-narrow is-fullwidth">
                            <thead>
                                <tr class="is-clickable">
                                    <th></span>Username<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                    <th></span>First Name<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                    <th></span>Last Name<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                    <th></span>Ticket Number<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                    <th></span>Answer<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{# each incorrectTickets}}
                                    {{# each this.ticketNumbersObjects}}
                                        <tr>
                                            <td>{{../this.userReference.username}}</td>
                                            <td>{{../this.userReference.firstName}}</td>
                                            <td>{{../this.userReference.lastName}}</td>
                                            <th>{{this.ticketNumber}}</th>
                                            <td>{{../this.compAnswer}}</td>
                                        </tr>
                                    {{/each}}
                                {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <div class="column is-full">
                            <div class="notification">
                                <p>No incorrect entries to show.</p>
                            </div>
                        </div>
                    {{/if}}
                </li>
            </ul>
        </div>
    </div>
</div>



<script>
//JS TO SORT TABLE COLUMNS
const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
)(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// Do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', function() {
    const table = th.closest('table');
    const tbody = table.querySelector('tbody');
    Array.from(tbody.querySelectorAll('tr'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => tbody.appendChild(tr));
}));
//////////////////////////
// Function to count the number of rows in the table
function countTableRows(tableId) {
    if(document.getElementById(tableId)){
        const table = document.getElementById(tableId);
        const tbody = table.querySelector('tbody');
        const rowCount = tbody.querySelectorAll('tr').length;
        return rowCount;
    } else {
        return 0;
    }

}

// Get the count of rows and display it
const correctRowCount = countTableRows('correctTable');
const incorrectRowCount = countTableRows('incorrectTable');
var totalRowCount = correctRowCount+incorrectRowCount;
document.getElementById('totalRowCount').innerText = 'Total Entries Displayed in Tables Below: '+totalRowCount;
</script>