<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Coupons</p>
  </div>
</section>

{{> adminNav}}


<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title">Coupons</h1>
    </div>
    <a href="/admin/createCoupon" class="button is-fullwidth is-link is-outlined">
        <span class="icon">
        <i class="fa-solid fa-plus"> </i>
        </span>
        <span>Create New Coupon</span>
    </a>

    <div class="content my-6">
        <h1 class="title">Lookup Coupon</h1>
    </div>
    {{#if hasError}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-danger is-light">
                {{#each error}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if hasSuccess}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-success is-light">
                {{#each success}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}

    <form action="/admin/coupons" method="post">
        <div class="field">
            <label class="label">Coupon Code / Coupon ID</label>
            <div class="control has-icons-left">
                <input id="couponInfo" name="couponInfo" class="input" type="text" placeholder="Coupon Information">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-barcode"></i>
                </span>
            </div>
        </div>
       
        <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
        <button type="submit" class="button is-fullwidth is-link mb-3">
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span>Lookup Coupon</span>
        </button>
    </form>

    {{#if foundCouponInfo}}
        <div class="container notification">
            <div class="columns">
                <div class="column is-3">
                    <p class="title is-6">Coupon Code</p>
                    <p class="subtitle is-6 is-spaced">{{foundCouponInfo.couponCode}}</p>
                    <p class="title is-6">Discount</p>
                    {{#if foundCouponInfo.couponAmount}}
                        <p class="subtitle is-6">£{{foundCouponInfo.couponAmount}}</p>
                    {{else}}
                        <p class="subtitle is-6">{{foundCouponInfo.couponPercent}}%</p>
                    {{/if}}
                </div>
                <div class="column is-3">
                    <p class="title is-6">Expiry Date</p>
                    <p class="subtitle is-6">{{ foundCouponInfo.couponExpiryDate}}</p>
                </div>
                <div class="column is-2">
                    <p class="title is-6">Applies to Specific User?</p>
                    {{#if foundCouponInfo.userReference}}
                        <p class="subtitle is-6">Yes</p>
                    {{else}}
                        <p class="subtitle is-6">No</p>
                    {{/if}}
                </div>
                <div class="column is-2">
                    <p class="title is-6">Active</p>
                    {{#if foundCouponInfo.active}}
                        <p class="subtitle is-6">Yes</p>
                    {{else}}
                        <p class="subtitle is-6">No</p>
                    {{/if}}
                </div>             
                <div class="column is-narrow">
                    <div class="buttons has-addons is-right">
                        <button class="button" onclick="toggleElement('userInfo_{{foundCouponInfo._id}}', true)">
                            <span class="icon is-small">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </button>
                        <a href="/admin/editCoupon/{{foundCouponInfo.id}}" class="button is-link">
                            <span class="icon is-small">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                            <span>Edit</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="userInfo_{{foundCouponInfo._id}}" style="display:none">
                <div class="columns is-multiline">
                    <div class="column is-5">
                        <p class="title is-6">Applies To:</p>
                        <p><strong>User ID:</strong> {{foundCouponInfo.userReference._id}}</p>
                        <p><strong>Username:</strong> {{foundCouponInfo.userReference.username}}</p>
                        <p><strong>User Email Address:</strong> {{foundCouponInfo.userReference.emailAddress}}</p>
                        <p><strong>Competition ID:</strong> {{foundCouponInfo.competitionReference._id}}</p>
                        <p><strong>Competition Title:</strong> {{foundCouponInfo.competitionReference.title}}</p>
                    </div>
                    <div class="column is-7">
                        <p class="title is-6">More Info</p> 
                        <p><strong>Coupon ID:</strong> {{foundCouponInfo.id}}</p>  
                        <p><strong>Times it Can be Used Per Person:</strong> {{foundCouponInfo.numberOfUsesPerPerson}}</p>
                        <p><strong>Minimum Spend:</strong> {{foundCouponInfo.minimumSpend}}</p>
                        <p><strong>Number of Times Coupon Can Be Used Before it Expires (0 = Unlimited):</strong> {{foundCouponInfo.totalNumberOfUses}}</p>
                        <p><strong>Times it Has Been Used:</strong> {{foundCouponInfo.timesUsed}}</p>                                              
                        <p><strong>Created:</strong> {{ foundCouponInfo.created}}</p>
                        <p><strong>Last Updated:</strong> {{ foundCouponInfo.lastUpdated}}</p>
                    </div>
                </div>
            </div>
        </div>
    {{else}}  
        <div class="tabs-wrapper">
            <div class="tabs is-centered mt-6 is-boxed">
                <ul>
                    <li class="is-active">
                        <a>
                            <span>Sitewide Coupons</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Other Coupons</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tabs-content">
                <ul>
                    <li class="is-active">
                        <div class="columns is-multiline is-mobile is-flex is-justify-content-center">
                            {{#if hasSCoupons}}
                                {{#each sitewideCoupons}}
                                    <div class="container notification">
                                        <div class="columns">
                                            <div class="column is-3">
                                                <p class="title is-6">Coupon Code</p>
                                                <p class="subtitle is-6 is-spaced">{{this.couponCode}}</p>
                                                <p class="title is-6">Discount</p>
                                                {{#if this.couponAmount}}
                                                    <p class="subtitle is-6">£{{this.couponAmount}}</p>
                                                {{else}}
                                                    <p class="subtitle is-6">{{this.couponPercent}}%</p>
                                                {{/if}}
                                            </div>
                                            <div class="column is-3">
                                                <p class="title is-6">Expiry Date</p>
                                                <p class="subtitle is-6">{{ this.couponExpiryDate}}</p>
                                            </div>
                                            <div class="column is-2">
                                                <p class="title is-6">Applies to Specific User?</p>
                                                {{#if this.userReference}}
                                                    <p class="subtitle is-6">Yes</p>
                                                {{else}}
                                                    <p class="subtitle is-6">No</p>
                                                {{/if}}
                                            </div>
                                            <div class="column is-2">
                                                <p class="title is-6">Active</p>
                                                {{#if this.active}}
                                                    <p class="subtitle is-6">Yes</p>
                                                {{else}}
                                                    <p class="subtitle is-6">No</p>
                                                {{/if}}
                                            </div>             
                                            <div class="column is-narrow">
                                                <div class="buttons has-addons is-right">
                                                    <button class="button" onclick="toggleElement('userInfo_{{this._id}}', true)">
                                                        <span class="icon is-small">
                                                            <i class="fa-solid fa-chevron-down"></i>
                                                        </span>
                                                    </button>
                                                    <a href="/admin/editCoupon/{{this.id}}" class="button is-link">
                                                        <span class="icon is-small">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </span>
                                                        <span>Edit</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="userInfo_{{this._id}}" style="display:none">
                                            <div class="columns is-multiline">
                                                <div class="column is-5">
                                                    <p class="title is-6">Applies To:</p>
                                                    <p><strong>User ID:</strong> {{this.userReference._id}}</p>
                                                    <p><strong>Username:</strong> {{this.userReference.username}}</p>
                                                    <p><strong>User Email Address:</strong> {{this.userReference.emailAddress}}</p>
                                                    <p><strong>Competition ID:</strong> {{this.competitionReference._id}}</p>
                                                    <p><strong>Competition Title:</strong> {{this.competitionReference.title}}</p>
                                                </div>
                                                <div class="column is-7">
                                                    <p class="title is-6">More Info</p>  
                                                    <p><strong>Coupon ID:</strong> {{this.id}}</p>   
                                                    <p><strong>Times it Can be Used Per Person:</strong> {{this.numberOfUsesPerPerson}}</p>
                                                    <p><strong>Minimum Spend:</strong> {{this.minimumSpend}}</p>
                                                    <p><strong>Number of Times Coupon Can Be Used Before it Expires (0 = Unlimited):</strong> {{this.totalNumberOfUses}}</p>
                                                    <p><strong>Times it Has Been Used:</strong> {{this.timesUsed}}</p>                                              
                                                    <p><strong>Created:</strong> {{ this.created}}</p>
                                                    <p><strong>Last Updated:</strong> {{ this.lastUpdated}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="column is-full">
                                    <div class="notification">
                                        <p>No Sitewide Coupons show.</p>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </li>
                    <!-- Invisible Draw Result Cards -->
                    <li>
                        <div class="columns is-multiline">
                            {{#if hasOCoupons}}
                                {{#each otherCoupons}}
                                    <div class="container notification">
                                        <div class="columns">
                                            <div class="column is-3">
                                                <p class="title is-6">Coupon Code</p>
                                                <p class="subtitle is-6 is-spaced">{{this.couponCode}}</p>
                                                <p class="title is-6">Discount</p>
                                                {{#if this.couponAmount}}
                                                    <p class="subtitle is-6">£{{this.couponAmount}}</p>
                                                {{else}}
                                                    <p class="subtitle is-6">{{this.couponPercent}}%</p>
                                                {{/if}}
                                            </div>
                                            <div class="column is-3">
                                                <p class="title is-6">Expiry Date</p>
                                                <p class="subtitle is-6">{{ this.couponExpiryDate}}</p>
                                            </div>
                                            <div class="column is-2">
                                                <p class="title is-6">Applies to Specific User?</p>
                                                {{#if this.userReference}}
                                                    <p class="subtitle is-6">Yes</p>
                                                {{else}}
                                                    <p class="subtitle is-6">No</p>
                                                {{/if}}
                                            </div>
                                            <div class="column is-2">
                                                <p class="title is-6">Active</p>
                                                {{#if this.active}}
                                                    <p class="subtitle is-6">Yes</p>
                                                {{else}}
                                                    <p class="subtitle is-6">No</p>
                                                {{/if}}
                                            </div>             
                                            <div class="column is-narrow">
                                                <div class="buttons has-addons is-right">
                                                    <button class="button" onclick="toggleElement('userInfo_{{this._id}}', true)">
                                                        <span class="icon is-small">
                                                            <i class="fa-solid fa-chevron-down"></i>
                                                        </span>
                                                    </button>
                                                    <a href="/admin/editCoupon/{{this.id}}" class="button is-link">
                                                        <span class="icon is-small">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </span>
                                                        <span>Edit</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="userInfo_{{this._id}}" style="display:none">
                                            <div class="columns is-multiline">
                                                <div class="column is-5">
                                                    <p class="title is-6">Applies To:</p>
                                                    <p><strong>User ID:</strong> {{this.userReference._id}}</p>
                                                    <p><strong>Username:</strong> {{this.userReference.username}}</p>
                                                    <p><strong>User Email Address:</strong> {{this.userReference.emailAddress}}</p>
                                                    <p><strong>Competition ID:</strong> {{this.competitionReference._id}}</p>
                                                    <p><strong>Competition Title:</strong> {{this.competitionReference.title}}</p>
                                                </div>
                                                <div class="column is-7">
                                                    <p class="title is-6">More Info</p>  
                                                    <p><strong>Coupon ID:</strong> {{this.id}}</p>   
                                                    <p><strong>Times it Can be Used Per Person:</strong> {{this.numberOfUsesPerPerson}}</p>
                                                    <p><strong>Minimum Spend:</strong> {{this.minimumSpend}}</p>
                                                    <p><strong>Number of Times Coupon Can Be Used Before it Expires (0 = Unlimited):</strong> {{this.totalNumberOfUses}}</p>
                                                    <p><strong>Times it Has Been Used:</strong> {{this.timesUsed}}</p>                                              
                                                    <p><strong>Created:</strong> {{ this.created}}</p>
                                                    <p><strong>Last Updated:</strong> {{ this.lastUpdated}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="column is-full">
                                    <div class="notification">
                                        <p>No Coupons show.</p>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {{/if}}
</div>