<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Administrator Dashboard</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-fullhd">
    <div class="content my-6">
        <h1 class="title">Competitions</h1>
    </div>
    <div class="container is-max-desktop mb-4">
        <a href="/admin/createCompetition" class="button is-fullwidth is-link is-outlined">
            <span class="icon">
            <i class="fa-solid fa-plus"> </i>
            </span>
            <span>Create New Competition</span>
         </a>
    </div>
    {{#if errors}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-danger is-light">
                {{#each error}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if hasSuccess}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-success is-light">
                {{#each success}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="tabs-wrapper">
        <div class="tabs is-centered mt-6 is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Active</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Inactive</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline is-mobile is-flex is-justify-content-center">
                        {{#if hasCompetitions}}
                            {{#checkActiveCompetitions competitions}}
                                {{#each competitions}}
                                    {{#if this.active}}
                                        <!-- Competition Column -->
                                        <div class="column is-half-mobile is-one-third-tablet is-4-desktop is-3-fullhd has-text-centered">
                                            <a href="/admin/editCompetition/{{this.id}}" class="is-link">
                                                <div class="card" style="">
                                                    <header class="card-header">
                                                        {{#if this.visible}}
                                                            <p class="card-header-title">Visible</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </span>
                                                            </button>
                                                        {{else}}
                                                            <p class="card-header-title">Not Visible</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-eye-slash"></i>
                                                                </span>
                                                            </button>
                                                        {{/if}}
                                                    </header>
                                                    <div class="card-image">
                                                        <figure class="image is-4by3">
                                                            <img src="{{this.imagePath}}" alt="Competition Image" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="content" style="height: 100px;">
                                                            <p class="title is-4">Win this {{this.title}}</p>
                                                            <p class="subtitle is-6">Cash Alternative: £{{this.cashAlternative}}</p>
                                                        </div>
                                                        <div class="content">
                                                            <div>
                                                                {{#if this.discountPrice}}
                                                                    <p class="title is-5 has-text-primary"><s>£{{formatPrice price}}</s></p>
                                                                    <p class="title is-1 has-text-primary">£{{formatPrice discountPrice}}</p>
                                                                {{else}}
                                                                    <p class="title is-1 has-text-primary">£{{formatPrice price}}</p>
                                                                {{/if}}
                                                            </div>
                                                            <div style="margin-top: 30px">
                                                                <p class="subtitle is-6 has-text-left">Sold: {{getPercentage currentEntries maxEntries}}%</p>
                                                                <progress class="progress is-info" value="{{this.currentEntries}}" max="{{this.maxEntries}}"></progress>
                                                                <button class="button is-medium is-fullwidth is-link">Edit Competition</button>
                                                                <p><time datetime="2024-06-02 19:00">Draw {{formatDateCompCard this.drawDate}}</time></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {{/if}}
                                {{/each}}
                                {{#unless hasActiveCompetitions}}
                                    <div class="column is-full">
                                        <div class="notification">
                                            <p>No active competitions to show.</p>
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/checkActiveCompetitions}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No competitions to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
                <li>
                    <div class="columns is-multiline is-mobile is-flex is-justify-content-center">
                        {{#if hasCompetitions}}
                            {{#checkInactiveCompetitions competitions}}
                                {{#each competitions}}
                                    {{#unless this.active}}
                                    <!-- Competition Column -->
                                        <div class="column is-half-mobile is-one-third-tablet is-4-desktop is-3-fullhd has-text-centered">
                                            <a href="/admin/editCompetition/{{this.id}}" class="is-link">
                                                <div class="card" style="">
                                                    <header class="card-header">
                                                        {{#if this.visible}}
                                                            <p class="card-header-title">Visible</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </span>
                                                            </button>
                                                        {{else}}
                                                            <p class="card-header-title">Hidden</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-eye-slash"></i>
                                                                </span>
                                                            </button>
                                                        {{/if}}
                                                    </header>
                                                    <div class="card-image">
                                                        <figure class="image is-4by3">
                                                            <img src="{{this.imagePath}}" alt="Competition Image" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="content" style="height: 100px;">
                                                            <p class="title is-4">Win this {{this.title}}</p>
                                                            <p class="subtitle is-6">Cash Alternative: £{{this.cashAlternative}}</p>
                                                        </div>
                                                        <div class="content" style="">
                                                            <div style="">
                                                                <p class="title is-1 has-text-primary">£{{formatPrice price}}</p>
                                                            </div>
                                                            <div style="margin-top: 30px">
                                                                <p class="subtitle is-6 has-text-left">Sold: {{getPercentage currentEntries maxEntries}}%</p>
                                                                <progress class="progress is-info" value="{{this.currentEntries}}" max="{{this.maxEntries}}"></progress>
                                                                <button class="button is-medium is-fullwidth is-link">Edit Competition</button>
                                                                <p><time datetime="2024-06-02 19:00">Draw {{formatDateCompCard this.drawDate}}</time></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {{/unless}}
                                {{/each}}
                                {{#unless hasInactiveCompetitions}}
                                    <div class="column is-full">
                                        <div class="notification">
                                            <p>No inactive competitions to show.</p>
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/checkInactiveCompetitions}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No competitions to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>