<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Edit Competition</p>
  </div>
</section>

{{> adminNav}}

{{#if errors}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-danger is-light">
            {{#each error}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if hasSuccess}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-success is-light">
            {{#each success}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}

<div class="container is-max-desktop mb-4">
    <a href="/competition/{{competition.id}}" class="button is-fullwidth is-link is-outlined">View Competition Page </a>
</div>



<div class="container is-max-widescreen">
    <form action="/admin/updateCompetition" enctype="multipart/form-data" method="post" ref='updateCompetitionForm' id='updateCompetitionForm'>
        <div class="card">
            <div class="card-content">
                <label class="label">Main Image</label>
                <div class="card-image">
                    <figure class="image">
                    <img
                        id="mainImageDisplay"
                        src="{{competition.imagePath}}"
                        alt="Competition Image"
                        style="max-width: 400px; max-height: 400px"    
                    />
                    </figure>
                    <input type="hidden" name="compImagePath" value="{{competition.imagePath}}">  
                </div>

                <div class="container">
                    <div class="file is-normal has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="mainImageUpload" onchange="document.getElementById('mainImageDisplay').src = window.URL.createObjectURL(this.files[0])"/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"> Upload Main Image </span>
                            </span>
                            <span class="file-name"> ... </span>
                        </label>
                    </div>


                    <label class="label">Additional Image(s)</label>

                    <div class="columns is-multiline" id="additionalImageColumns">
                        {{# each competition.additionalImagePaths}}
                        <div class="column is-narrow">
                            <div class="">
                                <figure class="image is-128x128 is-square ">
                                    <img
                                        src="{{this}}"
                                        alt="Additional Comp Image"
                                    />
                                    <a href="/admin/removeAdditionalImage/{{../competition._id}}?imageID={{this}}" class="button is-danger is-small">
                                        <span class="icon is-small">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="file is-normal has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="additionalImages" id="additionalImages" multiple />
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"> Upload Additional Image(s) </span>
                            </span>
                            <span class="file-name"> ... </span>
                        </label>
                    </div>




                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control has-icons-left">
                            <input id="title" name="title" class="input is-large" type="text" placeholder="Title" value="{{competition.title}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-heading"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Cash Alternative</label>
                        <div class="control has-icons-left">
                            <input id="cashAlternative" name="cashAlternative" class="input" type="text" placeholder="Cash Alternative" value="{{competition.cashAlternative}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-sterling-sign"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Price</label>
                        <div class="control has-icons-left">
                            <input id="price" name="price" class="input is-primary" type="text" placeholder="Price" value="{{competition.price}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-sterling-sign"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Discount Price (Leave empty if no discount)</label>
                        <div class="control has-icons-left">
                            <input id="discountPrice" name="discountPrice" class="input is-danger" type="text" placeholder="Discount Price" value="{{competition.discountPrice}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-tag"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Current Entries</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Current Entries" value="{{competition.currentEntries}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <p class="subtitle is-6 has-text-left">Sold: {{getPercentage competition.currentEntries competition.maxEntries}}%</p>
                        <progress class="progress is-info" value="{{competition.currentEntries}}" max="{{competition.maxEntries}}"></progress>
                    </div>
                    <div class="field">
                        <label class="label">Max Entries</label>
                        <div class="control has-icons-left">
                            <input id="maxEntries" name="maxEntries" class="input" type="text" placeholder="Max Entries" value="{{competition.maxEntries}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Max Entries Per Person</label>
                        <div class="control has-icons-left">
                            <input id="maxEntriesPerPerson" name="maxEntriesPerPerson" class="input" type="text" placeholder="Max Entries Per Person" value="{{competition.maxEntriesPerPerson}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Max Postal Votes Per Person</label>
                        <div class="control has-icons-left">
                            <input id="maxPostalVotes" name="maxPostalVotes" class="input" type="text" placeholder="Max Postal Votes Per Person" value="{{competition.maxPostalVotes}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Draw Date</label>
                        <div class="control has-icons-left">
                            <input id="drawDate" name="drawDate" class="input" type="text" placeholder="Draw Date" value="{{competition.drawDate}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Question Text</label>
                        <div class="control has-icons-left">
                            <input id="questionText" name="questionText" class="input" type="text" placeholder="Question Text" value="{{competition.questionText}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-question"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Question Answers (Format: Answer1,Answer2,Answer3,Answer4)</label>
                        <div class="control has-icons-left">
                            <input id="questionAnswers" name="questionAnswers" class="input" type="text" placeholder="Question Answers" value="{{competition.questionAnswers}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-circle-question"></i>
                            </span>
                        </div>
                    </div>  
                    <div class="field">
                        <label class="label">Correct Answer</label>
                        <div class="control has-icons-left">
                            <input id="correctAnswer" name="correctAnswer" class="input" type="text" placeholder="Correct Answer" value="{{competition.correctAnswer}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Competition Description</label>
                        <div class="control">
                            <textarea id="description" name="description" class="textarea" placeholder="Competition Description">{{competition.description}}</textarea>
                        </div>
                    </div>


                    <div class="field">
                        <label class="label">Is Active</label>
                        <i class="fa-solid fa-calendar-check"></i>
                        <input id="active" name="active" type="checkbox" {{#if competition.active}}checked{{/if}}>
                        <label for="PostalCheckbox">Active</label>
                    </div>
                    <div class="field">
                        <label class="label">Is Visible</label>
                        <i class="fa-solid fa-eye"></i>
                        <input id="visible" name="visible" type="checkbox" {{#if competition.visible}}checked{{/if}}>
                        <label for="PostalCheckbox">Visible</label>
                    </div>

                    <div class="field">
                        <label class="label">Competition Tickets Numbers Sold</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Competition Description" disabled>{{competition.ticketNumbersSold}}</textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Competition Created</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Competition Created" value="{{competition.created}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Last Updated</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Last Updated" value="{{competition.lastUpdated}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                        </div>
                    </div>           
                    <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
                    <input type="hidden" name="compID" value="{{competition._id}}">   
                    <button type="submit" class="button is-medium is-fullwidth is-link">Update Competition</button>
                </div>
            </div>
        </div>
    </form>
</div>
                                        