<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Edit Competition</p>
  </div>
</section>

{{> adminNav}}
<div class="container is-max-desktop mb-4">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Competitions</a></li>
            <li class="is-active"><a href="#" aria-current="page">Edit Competition {{competition.id}}</a></li>
        </ul>
    </nav>
</div>

{{#if errors}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-danger is-light">
            {{#each error}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if hasSuccess}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-success is-light">
            {{#each success}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}

<div class="container is-max-desktop mb-4">
    <a href="/competition/{{competition.id}}" class="button is-fullwidth is-link is-outlined">View Competition Page </a>
</div>



<div class="container is-max-widescreen">
    <form action="/admin/updateCompetition" enctype="multipart/form-data" method="post" ref='updateCompetitionForm' id='updateCompetitionForm'>
        <div class="card">
            <div class="card-content">
                <label class="label">Main Image</label>
                <div class="card-image">
                    <figure class="image">
                    <img
                        id="mainImageDisplay"
                        src="{{competition.imagePath}}"
                        alt="Competition Image"
                        style="max-width: 400px; max-height: 400px"    
                    />
                    </figure>
                    <input type="hidden" name="compImagePath" value="{{competition.imagePath}}">  
                </div>

                <div class="container">
                    <div class="file is-normal has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="mainImageUpload" onchange="document.getElementById('mainImageDisplay').src = window.URL.createObjectURL(this.files[0])"/>
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"> Upload Main Image </span>
                            </span>
                            <span class="file-name"> ... </span>
                        </label>
                    </div>


                    <label class="label">Additional Image(s)</label>

                    <div class="columns is-multiline" id="additionalImageColumns">
                        {{# each competition.additionalImagePaths}}
                        <div class="column is-narrow">
                            <div class="">
                                <figure class="image is-128x128 is-square ">
                                    <img
                                        src="{{this}}"
                                        alt="Additional Comp Image"
                                    />
                                    <a href="/admin/removeAdditionalImage/{{../competition._id}}?imageID={{this}}" class="button is-danger is-small">
                                        <span class="icon is-small">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="file is-normal has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="additionalImages" id="additionalImages" multiple />
                            <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"> Upload Additional Image(s) </span>
                            </span>
                            <span class="file-name"> ... </span>
                        </label>
                    </div>

                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control has-icons-left">
                            <input id="title" name="title" class="input is-large" type="text" placeholder="Title" value="{{competition.title}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-heading"></i>
                            </span>
                        </div>
                    </div>

                    <label class="label">Cash Alternative</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="cashAlternative" name="cashAlternative" type="text" class="input" placeholder="Cash Alternative" value="{{competition.cashAlternative}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-sterling-sign"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="cashAlternativeBtn" class="button is-medium is-info" onclick="toggleEditInput('cashAlternative', 'cashAlternativeBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <label class="label">Price</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="price" name="price" type="text" class="input  is-primary" placeholder="Price" value="{{competition.price}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-sterling-sign"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="priceBtn" class="button is-medium is-info" onclick="toggleEditInput('price', 'priceBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Discount Price (Leave empty if no discount)</label>
                        <div class="control has-icons-left">
                            <input id="discountPrice" name="discountPrice" class="input is-danger" type="text" placeholder="Discount Price" value="{{competition.discountPrice}}">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-tag"></i>
                            </span>
                        </div>
                        <input type="hidden" name="oldDiscountPrice" value="{{competition.discountPrice}}">   
                    </div>

                    <div class="field">
                        <label class="label">Current Entries</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Current Entries" value="{{competition.currentEntries}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Pending Entries</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Current Entries" value="{{competition.pendingEntries}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-hourglass-half"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <p class="subtitle is-6 has-text-left">Sold: {{getPercentage competition.currentEntries competition.maxEntries}}%</p>
                        <progress class="progress is-info" value="{{competition.currentEntries}}" max="{{competition.maxEntries}}"></progress>
                    </div>

                    <label class="label">Max Entries</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="maxEntries" name="maxEntries" type="text" class="input" placeholder="Max Entries" value="{{competition.maxEntries}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="maxEntriesBtn" class="button is-medium is-info" onclick="toggleEditInput('maxEntries', 'maxEntriesBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <label class="label">Max Entries Per Person</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="maxEntriesPerPerson" name="maxEntriesPerPerson" type="text" class="input" placeholder="Max Entries Per Person" value="{{competition.maxEntriesPerPerson}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="maxEntriesPerPersonBtn" class="button is-medium is-info" onclick="toggleEditInput('maxEntriesPerPerson', 'maxEntriesPerPersonBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>


                    <label class="label">Max Postal Votes Per Person</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="maxPostalVotes" name="maxPostalVotes" type="text" class="input" placeholder="Max Postal Votes Per Person" value="{{competition.maxPostalVotes}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="maxPostalVotesBtn" class="button is-medium is-info" onclick="toggleEditInput('maxPostalVotes', 'maxPostalVotesBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <label class="label">Draw Date (Format: 2024-12-25:19:00)</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="drawDate" name="drawDate" type="text" class="input" placeholder="Draw Date" value="{{competition.drawDate}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="drawDateBtn" class="button is-medium is-info" onclick="toggleEditInput('drawDate', 'drawDateBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <label class="label">Entry Close Date (Format: 2024-12-25:18:00)</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="entryCloseDate" name="entryCloseDate" type="text" class="input" placeholder="Entry Close Date" value="{{competition.entryCloseDate}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="entryCloseDateBtn" class="button is-medium is-info" onclick="toggleEditInput('entryCloseDate', 'entryCloseDateBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <label class="label">Question Text</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="questionText" name="questionText" type="text" class="input" placeholder="Question Text" value="{{competition.questionText}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-question"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="questionTextBtn" class="button is-medium is-info" onclick="toggleEditInput('questionText', 'questionTextBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <label class="label">Question Answers (Format: Answer1,Answer2,Answer3,Answer4)</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="questionAnswers" name="questionAnswers" type="text" class="input" placeholder="Question Answers" value="{{competition.questionAnswers}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-list-ol"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="questionAnswersBtn" class="button is-medium is-info" onclick="toggleEditInput('questionAnswers', 'questionAnswersBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <label class="label">Correct Answer</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="correctAnswer" name="correctAnswer" type="text" class="input" placeholder="Correct Answer" value="{{competition.correctAnswer}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="correctAnswerBtn" class="button is-medium is-info" onclick="toggleEditInput('correctAnswer', 'correctAnswerBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <label class="label">Winning Ticket Number</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input id="winningTicketNumber" name="winningTicketNumber" type="text" class="input" placeholder="Winning Ticket Number" value="{{competition.winningTicketNumber}}" readonly>
                            <span class="icon is-left">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button id="winningTicketNumberBtn" class="button is-medium is-info" onclick="toggleEditInput('winningTicketNumber', 'winningTicketNumberBtn')" type="button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Competition Description</label>
                        <div class="control">
                            <textarea id="description" name="description" class="textarea" placeholder="Competition Description">{{competition.description}}</textarea>
                        </div>
                    </div>


                    <div class="field">
                        <label class="label">Is Active</label>
                        <i class="fa-solid fa-calendar-check"></i>
                        <input id="active" name="active" type="checkbox" {{#if competition.active}}checked{{/if}}>
                        <label for="PostalCheckbox">Active</label>
                    </div>
                    <div class="field">
                        <label class="label">Is Visible</label>
                        <i class="fa-solid fa-eye"></i>
                        <input id="visible" name="visible" type="checkbox" {{#if competition.visible}}checked{{/if}}>
                        <label for="PostalCheckbox">Visible</label>
                    </div>

                    <div class="field">
                        <label class="label">Competition Tickets Numbers Sold</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Competition Description" disabled>{{competition.ticketNumbersSold}}</textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Competition Created</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Competition Created" value="{{competition.created}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Last Updated</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Last Updated" value="{{competition.lastUpdated}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                        </div>
                    </div>           
                    <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
                    <input type="hidden" name="compID" value="{{competition._id}}">   
                    <button type="submit" class="button is-medium is-fullwidth is-link">Update Competition</button>
                </div>
            </div>
        </div>
    </form>
</div>
                                        