<section class="hero is-danger">
    <div class="hero-body has-text-centered">
        <p class="title">Edit Draw Result Card</p>
    </div>
</section>

{{> adminNav}}

<div class="container is-max-desktop mb-4">
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin/drawResults">Draw Results</a></li>
            <li class="is-active"><a href="#" aria-current="page">Edit Draw Result Card</a></li>
        </ul>
    </nav>
</div>

{{#if errors}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-danger is-light">
            {{#each error}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if hasSuccess}}
    <div class="container is-max-desktop mb-4">
        <div class="notification is-success is-light">
            {{#each success}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}


<div class="container is-max-widescreen">
    <form action="/admin/updateDrawResult" method="post">
        <div class="card">
            <div class="card-content">

                    <div class="field">
                        <label class="label">Competition ID *</label>
                        <div class="control has-icons-left">
                            <input id="compID" name="compID" class="input" type="text" placeholder="Competition ID" value="{{drawResult.competitionReference.id}}" required>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-database"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Competition Title</label>
                        <div class="control has-icons-left">
                            <input id="compTitle" name="compTitle" class="input" type="text" value="{{drawResult.competitionReference.title}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-heading"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Competition DrawDate</label>
                        <div class="control has-icons-left">
                            <input id="compDrawDate" name="compDrawDate" class="input" type="text" value="{{formatDate drawResult.competitionReference.drawDate}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-clock"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Winner UserID</label>
                        <div class="control has-icons-left">
                            <input id="winnerID" name="winnerID" class="input" type="text" value="{{drawResult.userReference._id}}" disabled>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-database"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Winner UserID / Username / User Email Address *</label>
                        <div class="control has-icons-left">
                            <input id="userInfo" name="userInfo" class="input" type="text" placeholder="Winner User Info" value="{{drawResult.userReference._id}}" required>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Title *</label>
                        <div class="control has-icons-left">
                            <input id="title" name="title" class="input" type="text" placeholder="Title" value="{{drawResult.title}}" required>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-heading"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Draw Result Card Description *</label>
                        <div class="control has-icons-left">
                            <input id="description" name="description" class="input" type="text" placeholder="Description" value="{{drawResult.description}}" required>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-bars"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Winning Ticket Number *</label>
                        <div class="control has-icons-left">
                            <input id="winningTicketNumber" name="winningTicketNumber" class="input" type="text" placeholder="Winning Ticket Number" value="{{drawResult.winningTicketNumber}}" required>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Is Visible</label>
                        <i class="fa-solid fa-eye"></i>
                        <input id="visible" name="visible" type="checkbox" {{#if drawResult.visible}}checked{{/if}}>
                        <label for="PostalCheckbox">Visible</label>
                    </div>

                    <input type="hidden" name="csrfToken" value="{{csrfToken}}">
                    <input type="hidden" name="drawResultID" value="{{drawResult._id}}"> 
                    <button type="submit" class="button is-medium is-fullwidth is-link">
                        <span class="icon">
                            <i class="fa-solid fa-upload"></i>
                        </span>
                        <span>Update Draw Result Card</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
                                        