<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Admins</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-desktop">
    <div class="content my-6">
        <h1 class="title">Lookup User</h1>
    </div>
    {{#if errors}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-danger is-light">
                {{#each error}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <form action="/admin/users" method="post">
        <div class="field">
            <label class="label">Username / Email Address / Display Name / First Name / Last Name</label>
            <div class="control has-icons-left">
                <input id="userLookupInfo" name="userLookupInfo" class="input" type="text" placeholder="User Information">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-user"></i>
                </span>
            </div>
        </div>
       
        <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
        <button type="submit" class="button is-fullwidth is-link mb-3">Lookup User</button>
    </form>

    {{#if userInfo}}
        <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
                <tr class="is-clickable">
                    <th></span>UserID<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                    <th><span>Username</span><span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                    <th><span>Display Name</span><span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                    <th></span>First Name<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                    <th></span>Last Name<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                    <th></span>Email Address<span class="icon is-small is-pulled-right"><i class="fa-solid fa-sort-down"></i></span></th>
                </tr>
            </thead>
            <tbody>

                {{#each userInfo}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.displayName}}</td>
                        <td>{{this.firstName}}</td>
                        <td>{{this.lastName}}</td>
                        <td>{{this.emailAddress}}</td>
                    </tr>
                {{/each}}    
            </tbody>
        </table>
    {{else}}    
        
        <hr></hr>

        <div class="content my-6">
            <h1 class="title">Total Users: {{userCount}}</h1>
        </div>
        
        {{# each users}}
            <div class="container notification">
                <div class="columns is-vcentered is-mobile">
                    <div class="column is-3">
                        <p class="title is-6">{{this.username}}</p>
                    </div>
                    <div class="column is-3">
                        <p class="title is-6">{{this.displayName}}</p>
                    </div>
                    <div class="column is-3">
                        <p class="title is-6">{{this.emailAddress}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>