<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Users</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-fullhd">
    <div class="content my-6">
        <h1 class="title">Lookup User</h1>
    </div>
    {{#if hasError}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-danger is-light">
                {{#each error}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if hasSuccess}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-success is-light">
                {{#each success}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <form action="/admin/users" method="post">
        <div class="field">
            <label class="label">Username / Email Address / Display Name / First Name / Last Name</label>
            <div class="control has-icons-left">
                <input id="userLookupInfo" name="userLookupInfo" class="input" type="text" placeholder="User Information">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-user"></i>
                </span>
            </div>
        </div>
       
        <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
        <button type="submit" class="button is-fullwidth is-link mb-3">
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span>Lookup User</span>
        </button>
    </form>

    {{#if userInfo}}
        {{#each userInfo}}
            <div class="container notification">
                <div class="columns">
                    <div class="column is-2">
                        <p class="title is-6">UserID</p>
                        <p class="subtitle is-6">{{this._id}}</p>
                    </div>
                    <div class="column is-2">
                        <p class="title is-6">Username</p>
                        <p class="subtitle is-6">{{this.username}}</p>
                    </div>
                    <div class="column is-2">
                        <p class="title is-6">First Name</p>
                        <p class="subtitle is-6">{{this.firstName}}</p>
                    </div>
                    <div class="column is-2">
                        <p class="title is-6">Last Name</p>
                        <p class="subtitle is-6">{{this.lastName}}</p>
                    </div>     
                    <div class="column is-3">
                        <p class="title is-6">Email Address</p>
                        <p class="subtitle is-6">{{this.emailAddress}}</p>
                    </div>                 
                    <div class="column is-1">
                        <button class="button is-link" onclick="toggleElement('userInfo_{{this._id}}', true)">
                            <span class="icon is-small">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div id="userInfo_{{this._id}}" style="display:none">
                    <div class="columns is-vcentered is-multiline">
                        <div class="column is-5">
                            <p class="title is-6">Shipping Address</p>
                            <p>{{this.shippingAddressReference.firstName}}</p>
                            <p>{{this.shippingAddressReference.lastName}}</p>
                            <p>{{this.shippingAddressReference.streetAddress1}}</p>
                            <p>{{this.shippingAddressReference.streetAddress2}}</p>
                            <p>{{this.shippingAddressReference.townCity}}</p>
                            <p>{{this.shippingAddressReference.county}}</p>
                            <p>{{this.shippingAddressReference.postcode}}</p>
                        </div>
                        <div class="column is-7">
                            <p class="title is-6">User Info</p>
                            <p><strong>Reward Points:</strong> {{this.rewardPoints}}</p>
                            <p><strong>Reward Level:</strong> {{this.rewardLevel}}</p>
                            <p><strong>Referral Code used at signup:</strong> {{this.signupReferralCodeUsed}}</p>
                            <p><strong>Other Users Referred:</strong> {{this.usersReferred}}</p>
                            <p><strong>Join Date:</strong> {{formatDate this.joinDate}}</p>
                            <p><strong>Last Login:</strong> {{formatDate this.lastLogin}}</p>
                        </div>
                    </div>
                    <div class="columns is-vcentered is-multiline">
                        <div class="column is-12">
                            <form action="/admin/updateUserBan" method="post">
                                <label class="label">User Banned Until Date (Leave Blank is User is Not Banned)</label>
                                <div class="field has-addons">
                                    <div class="control is-expanded has-icons-left">
                                        <input id="userBannedUntil" name="userBannedUntil" type="datetime-local" class="input" placeholder="Date User is Banned Until" value="{{formatDateInput this.bannedUntilDate}}" readonly>
                                        <span class="icon is-left">
                                            <i class="fa-solid fa-user-lock"></i>
                                        </span>
                                    </div>
                                    <div class="control">
                                        <button id="userBannedUntilBtn" class="button is-medium is-warning" onclick="toggleEditInput('userBannedUntil', 'userBannedUntilBtn')" type="button">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="field-body">
                                    <input type="hidden" name="userID" value="{{this._id}}"> 
                                    <div class="field">
                                        <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
                                        <div class="control">
                                            <button type="submit" class="button is-danger">
                                                <span class="icon">
                                                    <i class="fa-solid fa-gavel"></i>
                                                </span>
                                                <span>Update User Ban Date</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>    
                        </div>
                        <div class="column is-12">
                            <form action="/admin/updateUserAccountCredit" method="post">
                                <label class="label">Account Credit (£1 = 1)</label>
                                <div class="field has-addons">
                                    <div class="control is-expanded has-icons-left">
                                        <input id="accountCredit" name="accountCredit" type="text" class="input" placeholder="User's Account Credit" value="{{this.accountCredit}}" readonly>
                                        <span class="icon is-left">
                                            <i class="fa-solid fa-coins"></i>
                                        </span>
                                    </div>
                                    <div class="control">
                                        <button id="accountCreditBtn" class="button is-medium is-warning" onclick="toggleEditInput('accountCredit', 'accountCreditBtn')" type="button">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="field-body">
                                    <input type="hidden" name="userID" value="{{this._id}}"> 
                                    <div class="field">
                                        <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
                                        <div class="control">
                                            <button type="submit" class="button is-danger">
                                                <span class="icon">
                                                    <i class="fa-solid fa-upload"></i>
                                                </span>
                                                <span>Update User's Account Credit</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}

    {{else}}    
        
        <hr></hr>

        <div class="content my-6">
            <h1 class="title">Total Users: {{userCount}}</h1>
        </div>
        
        {{# each users}}
            <div class="container notification">
                <div class="columns is-vcentered is-mobile">
                    <div class="column is-3">
                        <p class="title is-6">{{this.username}}</p>
                    </div>
                    <div class="column is-3">
                        <p class="title is-6">{{this.displayName}}</p>
                    </div>
                    <div class="column is-3">
                        <p class="title is-6">{{this.emailAddress}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>