<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">User Rewards</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-fullhd">
    <div class="content my-6">
        <h1 class="title">User Rewards</h1>
    </div>
    <div class="container is-max-desktop mb-4">
        <a href="/admin/createuserChallenge" class="button is-fullwidth is-link is-outlined">
            <span class="icon">
            <i class="fa-solid fa-plus"> </i>
            </span>
            <span>Create New User Challenge</span>
         </a>
    </div>
    {{#if errors}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-danger is-light">
                {{#each error}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if hasSuccess}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-success is-light">
                {{#each success}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="tabs-wrapper">
        <div class="tabs is-centered mt-6 is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Active</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Inactive</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline is-mobile is-flex is-justify-content-center">
                        {{#if hasUserChallenges}}
                            {{#checkActive userChallenges}}
                                {{#each userChallenges}}
                                    {{#if this.active}}
                                        <!-- Competition Column -->
                                        <div class="column is-half-mobile is-one-third-tablet is-4-desktop is-3-fullhd has-text-centered">
                                            <div class="notification">
                                                <div class="has-text-centered">
                                                    <span class="icon fas fa-2x mb-3">
                                                        {{{this.icon}}}
                                                    </span>
                                                    <br />
                                                    <div style="min-height:150px">
                                                        <p class="title is-5">{{this.title}}</p>
                                                        <p class="subtitle is-6 is-spaced">{{this.description}}</p>
                                                        <p class="title is-5">Account Credit: £{{this.accountCredit}}</p>
                                                        <p class="subtitle is-7">{{this.points}} Points</p>
                                                    </div>
                                                    <span class="icon fa-2x">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                    <a href="/admin/editUserChallenge/{{this.id}}" class="button is-fullwidth is-link mt-3">
                                                        <span class="icon is-small">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </span>
                                                        <span>Edit User Challenge</span>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}    
                                {{/each}}
                                {{#unless hasActive}}
                                    <div class="column is-full">
                                        <div class="notification">
                                            <p>No user challenges show.</p>
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/checkActive}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No active user challenges to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
                <!-- Invisible Draw Result Cards -->
                <li>
                    <div class="columns is-multiline is-mobile is-flex is-justify-content-center">
                        {{#if hasUserChallenges}}
                            {{#checkInactive userChallenges}}
                                {{#each userChallenges}}
                                    {{#unless this.active}}
                                        <!-- Competition Column -->
                                        <div class="column is-half-mobile is-one-third-tablet is-4-desktop is-3-fullhd has-text-centered">
                                            <div class="notification">
                                                <div class="has-text-centered">
                                                    <span class="icon fas fa-2x mb-3">
                                                        {{{this.icon}}}
                                                    </span>
                                                    <br />
                                                    <div style="min-height:150px">
                                                        <p class="title is-5">{{this.title}}</p>
                                                        <p class="subtitle is-6 is-spaced">{{this.description}}</p>
                                                        <p class="title is-5">Account Credit: £{{this.accountCredit}}</p>
                                                        <p class="subtitle is-7">{{this.points}} Points</p>
                                                    </div>
                                                    <span class="icon fa-2x">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                    <a href="/admin/editUserChallenge/{{this.id}}" class="button is-fullwidth is-link mt-3">
                                                        <span class="icon is-small">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </span>
                                                        <span>Edit User Challenge</span>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    {{/unless}}
                                {{/each}}
                                {{#unless hasInactive}}
                                    <div class="column is-full">
                                        <div class="notification">
                                            <p>No Inactive user challenges to show.</p>
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/checkInactive}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No Inactive user challenges to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>