<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Orders</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-fullhd">
    <div class="content my-6">
        <h1 class="title">Lookup Orders</h1>
    </div>
    {{#if hasError}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-danger is-light">
                {{#each error}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if hasSuccess}}
        <div class="container is-max-desktop mb-4">
            <div class="notification is-success is-light">
                {{#each success}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <form action="/admin/viewOrders" method="post">
        <div class="field">
            <label class="label">Order ID / User ID / Username / User Email Address</label>
            <div class="control has-icons-left">
                <input id="orderLookupInfo" name="orderLookupInfo" class="input" type="text" placeholder="Order / User Information">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>
        </div>
       
        <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
        <button type="submit" class="button is-fullwidth is-link mb-3">
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span>Lookup Order</span>
        </button>
    </form>

    {{#if orderInfo}}
        {{#each orderInfo}}
            <div class="container notification is-dark">
                <div class="columns">
                    <div class="column is-2">
                        <p class="title is-6">OrderID</p>
                        <p class="subtitle is-6">{{this._id}}</p>
                    </div>
                    <div class="column is-2">
                        <p class="title is-6">Order Status</p>
                        <p class="subtitle is-6">{{this.orderStatus}}</p>
                    </div>
                    <div class="column is-2">
                        <p class="title is-6">Payment Price</p>
                        <p class="subtitle is-6">{{formatPrice this.paymentPrice}}</p>
                    </div>
                    <div class="column is-2">
                        <p class="title is-6">Payment Method</p>
                        <p class="subtitle is-6">{{this.paymentMethod}}</p>
                    </div>     
                    <div class="column is-3">
                        <p class="title is-6">Order Created</p>
                        <p class="subtitle is-6">{{formatDate this.created}}</p>
                    </div>                 
                    <div class="column is-1">
                        <button class="button is-link" onclick="toggleElement('orderInfo_{{this._id}}', true)">
                            <span class="icon is-small">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div id="orderInfo_{{this._id}}" style="display:none">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <p class="title is-6">More Info</p>
                            <p><strong>Order Subtotal:</strong> {{formatPrice this.paymentSubtotalPrice}}</p>
                            <p><strong>Last Updated:</strong> {{formatDate this.lastUpdated}}</p>
                        </div>
                        <div class="column is-12">
                            <p class="title is-3">Basket</p>
                            <div class="container">
                                {{# each this.basket}}
                                    <div class="columns is-vcentered is-mobile is-multiline">
                                        <div class="column is-9">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <figure class="image is-64x64">
                                                            <img
                                                                src="{{this.item.imagePath}}" 
                                                                alt="Placeholder image"
                                                            />
                                                            </figure>
                                                        </div>
                                                        <div class="media-content py-1">
                                                            <p class="title is-6"><a href="/competition/{{this.item._id}}"><span class="subtitle is-6"> Win this {{this.item.title}}!</a></span> x {{this.qty}}</p>
                                                            <p class="subtitle is-6"><strong>Answer:</strong> {{this.questionAnswer}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-3">
                                            <div class="columns is-mobile">
                                                <div class="column is-flex is-justify-content-right is-align-items-right">
                                                    <p class="subtitle is-6"><strong>£{{this.itemTotalPrice}}</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-12">
                                            <p class="subtitle is-6"><strong>Ticket Number(s):</strong> {{formatTicketNumberOutput this.ticketNumbers}}.</p>
                                        </div>
                                    </div> 
                                    <hr />
                                {{/each}}
                            </div>
                            <div class="container">
                                <p class="subtitle is-6 is-pulled-left"><strong>Subtotal:</strong></p>
                                <p class="subtitle is-6 is-pulled-right"><strong>£{{this.paymentSubtotalPrice}}</strong></p>
                            </div>
                            <br />
                            <hr />

                            {{#ifNotEquals this.paymentSubtotalPrice this.paymentPrice}}
                                <div class="container">
                                    <p class="subtitle is-6"><strong>Discount(s):</strong></p>
                                    <div class="content">
                                        {{#each this.couponCodeUsed}}
                                            <p>
                                                <span class="tag is-medium is-info">
                                                    {{this.couponCode}}
                                                </span> {{this.couponDescription}}
                                            </p>
                                        {{/each}}
                                    </div>    
                                </div>
                                <br />
                                <hr />
                            {{/ifNotEquals}}

                            <div class="container">
                                <p class="subtitle is-6 is-pulled-left"><strong>Payment method:</strong></p>
                                <p class="subtitle is-6 is-pulled-right"><strong>{{this.paymentMethod}}</strong></p>
                            </div>
                            <br />
                            <hr />

                            <div class="container">
                                <p class="subtitle is-6 is-pulled-left"><strong>Total</strong></p>
                                <p class="subtitle is-6 is-pulled-right"><strong>£{{this.paymentPrice}}</strong></p>
                            </div>
                            <br />
                            <hr />

                            {{#if this.billingAddress}}
                                <h1 class="title is-3">Billing Address</strong></h2>
                                <p>{{this.billingAddress.firstName}} {{this.billingAddress.lastName}}</p>
                                <p>{{this.billingAddress.streetAddress1}}</p>
                                <p>{{this.billingAddress.townCity}}</p>
                                <p>{{this.billingAddress.postcode}}</p>
                                <p>{{this.billingAddress.phoneNumber}}</p>
                                <br />
                                <p>{{this.billingAddress.emailAddress}}</p>
                            {{else}}
                                {{#isPostalEntry this.paymentID}}
                                    <h1 class="title is-3">Postal Entry</strong></h2>
                                {{/isPostalEntry}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>