<section class="hero is-danger">
  <div class="hero-body has-text-centered">
    <p class="title">Winners</p>
  </div>
</section>

{{> adminNav}}

<div class="container is-max-fullhd">
    <div class="content my-6">
        <h1 class="title">Winners</h1>
    </div>
    <div class="container is-max-desktop mb-4">
        <a href="/admin/createWinner" class="button is-fullwidth is-link is-outlined">
            <span class="icon">
            <i class="fa-solid fa-plus"> </i>
            </span>
            <span>Create New Winner Card</span>
         </a>
    </div>
    <div class="tabs-wrapper">
        <div class="tabs is-centered mt-6 is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Visible</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Invisible</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline is-mobile is-flex is-justify-content-center">
                        {{#if hasWinners}}
                            {{#checkVisibleWinners winners}}
                                {{#each winners}}
                                    {{#if this.visible}}
                                        <!-- Competition Column -->
                                        <div class="column is-half-mobile is-one-third-tablet is-4-desktop is-3-fullhd has-text-centered">
                                            <a href="/admin/editWinner/{{this.id}}" class="is-link">
                                                <div class="card" style="">
                                                    <header class="card-header">
                                                        {{#if this.pinned}}
                                                            <p class="card-header-title">Pinned</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-thumbtack"></i>
                                                                </span>
                                                            </button>
                                                        {{/if}}
                                                        {{#if this.visible}}
                                                            <p class="card-header-title">Visible</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </span>
                                                            </button>
                                                        {{else}}
                                                            <p class="card-header-title">Not Visible</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-eye-slash"></i>
                                                                </span>
                                                            </button>
                                                        {{/if}}
                                                    </header>
                                                    <div class="card-image">
                                                        <figure class="image is-4by3">
                                                            <img src="{{this.imagePath}}" alt="Competition Image" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="content" style="height: 100px;">
                                                            <p class="title is-4">{{this.title}}</p>
                                                            <p class="subtitle is-6">{{this.description}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {{/if}}
                                {{/each}}
                                {{#unless hasVisibleWinners}}
                                    <div class="column is-full">
                                        <div class="notification">
                                            <p>No visible winner cards to show.1</p>
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/checkVisibleWinners}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No visible winner cards to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
                <li>
                    <div class="columns is-multiline is-mobile is-flex is-justify-content-center">
                        {{#if hasWinners}}
                            {{#checkInvisibleWinners winners}}
                                {{#each winners}}
                                    {{#unless this.visible}}
                                    <!-- Competition Column -->
                                        <div class="column is-half-mobile is-one-third-tablet is-4-desktop is-3-fullhd has-text-centered">
                                            <a href="/admin/editWinner/{{this.id}}" class="is-link">
                                                <div class="card" style="">
                                                    <header class="card-header">
                                                        {{#if this.pinned}}
                                                            <p class="card-header-title">Pinned</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-thumbtack"></i>
                                                                </span>
                                                            </button>
                                                        {{/if}}
                                                        {{#if this.visible}}
                                                            <p class="card-header-title">Visible</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-eye"></i>
                                                                </span>
                                                            </button>
                                                        {{else}}
                                                            <p class="card-header-title">Hidden</p>
                                                            <button class="card-header-icon" aria-label="more options">
                                                                <span class="icon">
                                                                    <i class="fa-solid fa-eye-slash"></i>
                                                                </span>
                                                            </button>
                                                        {{/if}}
                                                    </header>
                                                    <div class="card-image">
                                                        <figure class="image is-4by3">
                                                            <img src="{{this.imagePath}}" alt="Competition Image" />
                                                        </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="content" style="height: 100px;">
                                                            <p class="title is-4">{{this.title}}</p>
                                                            <p class="subtitle is-6">{{this.description}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {{/unless}}
                                {{/each}}
                                {{#unless hasInvisibleWinners}}
                                    <div class="column is-full">
                                        <div class="notification">
                                            <p>No Invisible winner cards to show.</p>
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/checkInvisibleWinners}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No Invisible winner cards to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>