<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">Basket</p>
  </div>
</section>

{{#if hasError}}
    <div class="container is-max-desktop mt-6">
        <div class="notification is-danger is-light">
            {{#each error}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if hasSuccess}}
    <div class="container is-max-desktop mt-6">
        <div class="notification is-success is-light">
            {{#each success}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#ifBanned user.bannedUntilDate}}
    <div class="container is-max-desktop mt-6">
        <div class="notification is-danger is-light">
            <p>Timeout: You Cannot Make Any Payments Until {{formatDate user.bannedUntilDate}}</p>
        </div>
    </div>
{{/ifBanned}}

{{# if products}}
    <section class="hero">
        <div class="hero-body">   

            {{# each products}}
            <div class="container notification is-max-widescreen">
                <div class="columns is-vcentered">
                    <div class="column">
                        <div class="columns is-mobile">
                            <div class="column">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-96x96">
                                        <img
                                            src="{{this.item.imagePath}}"
                                            alt="Placeholder image"
                                        />
                                        </figure>
                                    </div>
                                    <div class="media-content py-1">
                                        <p class="title is-6"><a href="/competition/{{this.item._id}}"><span class="subtitle is-6"> Win this {{this.item.title}}!</a></span></p>
                                        <p class="subtitle is-6">Answer: <strong>{{this.questionAnswer}}</strong></p>
                                        {{#if this.item.discountPrice}}
                                            <p class="title is-6 has-text-primary"><s><small>£{{formatPrice this.item.price}}</small></s> <span>£{{formatPrice this.item.discountPrice}}</span></p>
                                        {{else}}
                                            <p class="title is-6 has-text-primary">£{{formatPrice this.item.price}}</p>
                                        {{/if}}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="columns is-mobile">
                            <div class="column">
                                <div class="buttons has-addons is-centered">
                                    <a href="/reduceOneItem/{{this.item._id}}{{this.questionAnswer}}" class="button">-</a>
                                    <button id="ticketButtonCartCount" class="button is-static">{{this.qty}}</button>
                                    <a href="/increaseOneItem/{{this.item._id}}{{this.questionAnswer}}" class="button">+</a>
                                </div>
                            </div>
                            <div class="column is-3 is-flex is-justify-content-center is-align-items-center">
                                <p class="subtitle is-6"><strong>£{{formatPrice this.price}}</strong></p>
                            </div>
                            <div class="column is-2 is-flex is-justify-content-center is-align-items-center">
                                <a href="/removeItem/{{this.item._id}}{{this.questionAnswer}}" class="is-link">
                                    <span class="icon">
                                        <i class="fa-solid fa-xmark"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

            <div class="container is-max-widescreen mt-6">
                <div class="columns is-vcentered">
                    <div class="column is-three-fifths"></div>
                    <div class="column">

                        <div class="columns is-multiline">
                            {{#if basketCoupons}}
                            <div class="column is-full">
                                <p class="subtitle is-12"><strong>Applied Coupons:</strong></p>
                                {{# each basketCoupons}}
                                    <span class="tag is-medium is-info">
                                        {{this}}
                                        <a href="/removeCoupon/{{this}}" class="delete is-small"></a>
                                    </span>
                                {{/each}}
                            </div>
                            {{/if}}
                            <div class="column is-full is-flex is-justify-content-center is-align-items-center">
                                <form action="/applyCoupon" method="post">
                                    <div class="field has-addons">
                                        <div class="control">
                                            <input id="couponCode" name="couponCode" class="input" type="text" placeholder="Coupon Code" required>
                                        </div>
                                        <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
                                        <div class="control">
                                            <button type="submit" class="button is-link">Apply Coupon</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="column is-full">
                                <p class="subtitle is-4 is-pulled-left"><strong>Total</strong></p>
                                <p class="subtitle is-4 is-pulled-right"><strong>£{{formatPrice totalPrice}}</strong></p>
                            </div>
                            <div class="column is-full">
                                {{#if user}}
                                    <a href="/checkout" class="button is-medium is-fullwidth is-primary">
                                        <span class="icon">
                                            <i class="fa-solid fa-cash-register"></i>
                                        </span>
                                        <span>Proceed to Checkout</span>    
                                    </a>
                                {{else}}
                                    <a href="/login" class="button is-medium is-fullwidth is-primary">
                                        <span class="icon">
                                            <i class="fa-solid fa-user"></i>
                                        </span>
                                        <span>Login to Checkout</span>
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{else}}
    <!-- if Empty -->
    <div class="block">
        <div class="container my-6">
            <h1 class="title is-2 has-text-centered">Your basket is currently empty</h1>
        </div>
    </div>
    <div class="buttons is-centered">
        <a href="/" class="button is-large is-link">
            <span class="icon">
                <i class="fa-solid fa-dice"></i>
            </span>
            <span>Return to Competitions</span>                        
        </a>
    </div>
{{/if}}



