<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">Checkout</p>
  </div>
</section>

<div class="container is-max-fullhd block">
    {{#if hasError}}
        <div class="container is-max-desktop mt-6">
            <div class="notification is-danger is-light">
                {{#each error}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if hasSuccess}}
        <div class="container is-max-desktop mt-6">
            <div class="notification is-success is-light">
                {{#each success}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}

    <div class="column is-full my-6">
        {{#unless basketCoupons}}
            <div class="container is-max-desktop">
                <div class="notification is-info has-text-centered">
                    Have a coupon? <button type="button" class="is-link" onclick="toggleElement('couponInput')"><u>Click here to enter your code</u></button>
                </div>
                <div id="couponInput" class="field is-centered" style="display: none;">
                    <label class="label">If you have a coupon code, please apply it below.</label>
                    <form action="/applyCoupon" method="post">
                        <div class="field-body">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input id="couponCode" name="couponCode" class="input" type="text" placeholder="Coupon Code" required>
                                </div>
                                <input type="hidden" name="csrfToken" value="{{csrfToken}}"> 
                                <div class="control">
                                    <button type="submit" class="button is-link">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {{/unless}}
    </div>

    <form action="/checkout" method="post">
        <div class="columns is-multiline">
            {{#if errors}}
            <div class="column is-full">
                <div class="notification is-danger is-light">
                    {{#each error}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <div class="column is-three-fifths">
                <div class="px-4">
                    <div class="container">
                        <p class="subtitle is-3"><strong>Billing details</strong></p>
                        <div class="field">
                            <label class="label">First Name *</label>
                            <div class="control has-icons-left">
                                <input id="firstName" name="firstName" class="input" type="text" placeholder="First Name" value="{{userBillingAddress.firstName}}" required>
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Last Name *</label>
                            <div class="control has-icons-left">
                                <input id="lastName" name="lastName" class="input" type="text" placeholder="Last Name" value="{{userBillingAddress.lastName}}">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Country / Region *</label>
                            <p class="control has-icons-left">
                                <span class="select is-fullwidth">
                                <select id="countryRegion" name="countryRegion" required>
                                    <option selected>{{userBillingAddress.countryRegion}}</option>
                                    {{> countryDropdown}}
                                </select>
                                </span>
                                <span class="icon is-small is-left">
                                <i class="fas fa-globe"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Street Address *</label>
                            <div class="control has-icons-left">
                                <input id="streetAddress1" name="streetAddress1" class="input" type="text" placeholder="Street Address 1" value="{{userBillingAddress.streetAddress1}}" required>
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-road"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input id="streetAddress2" name="streetAddress2" class="input" type="text" placeholder="Street Address 2" value="{{userBillingAddress.streetAddress2}}">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-road"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Town / City *</label>
                            <div class="control has-icons-left">
                                <input id="townCity" name="townCity" class="input" type="text" placeholder="Town / City" value="{{userBillingAddress.townCity}}" required>
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-city"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">County</label>
                            <div class="control has-icons-left">
                                <input id="county" name="county" class="input" type="text" placeholder="County" value="{{userBillingAddress.county}}">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-map-location-dot"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Postcode *</label>
                            <div class="control has-icons-left">
                                <input id="postcode" name="postcode" class="input" type="text" placeholder="Postcode" value="{{userBillingAddress.postcode}}" required>
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Phone Number *</label>
                            <div class="control has-icons-left">
                                <input id="phoneNumber" name="phoneNumber" class="input" type="text" placeholder="Phone Number" value="{{userBillingAddress.phoneNumber}}" required>
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                            </div>
                        </div>
                        <label class="label">Date of Birth *</label>
                        <div class="field is-grouped">
                            <p class="control">
                                <span class="select">
                                <select id="DOBDD" name="DOBDD" required>
                                    {{#if userBillingAddress.DOBDD}}
                                        <option selected>{{userBillingAddress.DOBDD}}</option>
                                    {{else}}
                                        <option></option>
                                    {{/if}}
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>
                                </span>
                            </p>
                            <p class="control">
                                <span class="select">
                                <select id="DOBMM" name="DOBMM" required>
                                    {{#if userBillingAddress.DOBMM}}
                                        <option selected>{{userBillingAddress.DOBMM}}</option>
                                    {{else}}
                                        <option selected></option>
                                    {{/if}}
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>
                                </span>
                            </p>
                            <p class="control">
                                <span class="select">
                                <select id="DOBYY" name="DOBYY" required>
                                    {{#if userBillingAddress.DOBYY}}
                                        <option selected>{{userBillingAddress.DOBYY}}</option>
                                    {{else}}
                                        <option selected></option>
                                    {{/if}}
                                    {{> DOBYear}}
                                </select>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Email Address *</label>
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input id="emailAddress" name="emailAddress" class="input" type="email" placeholder="Email Address" value="{{userBillingAddress.emailAddress}}" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-two-fifths">
                <div class="columns is-multiline px-1">
                    <div class="column is-full is-flex is-justify-content-center is-align-items-center">
                        <p class="subtitle is-3"><strong>Your order</strong></p>
                    </div>
                    <div class="column is-full">
                        <table class="table is-bordered is-striped is-narrow is-fullwidth">
                            <thead>
                                <tr>
                                    <th class="has-text-centered">Product</th>
                                    <th class="has-text-centered">Subtotal</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Subtotal</th>
                                    <th>£{{subtotalPrice}}</th>
                                </tr>
                                {{#if basketCoupons}}
                                        <tr>
                                            <th class="has-text-centered">Coupons Applied</th>
                                            <th></th>
                                        </tr>
                                    {{# each basketCoupons}}
                                        <tr>
                                            <td>{{this.couponCode}} - {{this.couponDescription}}</td>
                                            <th></th>
                                        </tr>
                                    {{/each}}
                                {{/if}}
                                {{#ifNotEquals subtotalPrice totalPrice}}
                                    <tr>
                                        <th>Discount</th>
                                        <th>-£{{formatPriceDifference subtotalPrice totalPrice}}</th>
                                    </tr>
                                {{/ifNotEquals}}
                                <tr>
                                    <th>Total</th>
                                    <th>£{{totalPrice}}</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{# each products}}
                                <tr>
                                    <td>Win this {{this.item.title}}! <strong>x {{this.qty}}</strong></td>
                                    <th>£{{formatPrice this.itemTotalPrice}}</th>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-full">
                        <p class="subtitle is-4 is-pulled-left"><strong>Total</strong></p>
                        <p class="subtitle is-4 is-pulled-right"><strong>£{{formatPrice totalPrice}}</strong></p>
                    </div>
                    <div class="column is-full">
                        <div class="block has-text-centered">
                            <span class="icon is-large">
                                <i class="fa-brands fa-cc-visa fa-2x"></i>
                            </span>
                            <span class="icon is-large">
                                <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                            </span>

                            <span class="icon is-large">
                                <i class="fa-brands fa-google-pay fa-2x"></i>
                            </span>

                            <span class="icon is-large">
                                <i class="fa-brands fa-apple-pay fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" name="csrfToken" value="{{csrfToken}}">
                    {{#ifGreaterThan0 totalPrice}}
                        <div class="column is-full">
                            <button type="submit" class="button is-medium is-fullwidth is-primary">
                                <span class="icon">
                                    <i class="fa-solid fa-credit-card"></i>
                                </span>
                                <span>Pay with Card</span>
                            </button>
                        </div>
                        <div class="column is-full">
                            <button type="submit" class="button is-medium is-fullwidth is-warning">
                                <span class="icon">
                                    <i class="fa-brands fa-paypal"></i>
                                </span>
                                <span>Pay with PayPal</span>
                            </button>
                        </div>
                    {{else}}
                        <div class="column is-full">
                            <button type="submit" class="button is-medium is-fullwidth is-primary">
                                <span class="icon">
                                    <i class="fa-solid fa-receipt"></i>
                                </span>
                                <span>Submit Order</span>
                            </button>
                        </div>
                    {{/ifGreaterThan0}}

                </div>
            </div>
        </div>
    </form>
</div>

<script>
    sessionStorage.removeItem('expirationTime');
</script>