<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">Checkout</p>
  </div>
</section>

<div class="container is-max-fullhd">
    <form action="/checkout" method="post">
        <div class="columns is-multiline">
            <div class="column is-full my-6">
                <div class="notification is-info has-text-centered">
                    Have a coupon? <a href="">Click here to enter your code</a>
                </div>
            </div>
            {{#if errors}}
            <div class="column is-full">
                <div class="notification is-danger is-light">
                    {{#each error}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <div class="column is-three-fifths">
                <div class="px-3">
                    <div class="container">
                        <p class="subtitle is-3"><strong>Billing details</strong></p>
                        <div class="field">
                            <label class="label">First Name</label>
                            <div class="control has-icons-left">
                                <input id="firstName" name="firstName" class="input" type="text" placeholder="First Name" value="{{userBillingAddress.firstName}}">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control has-icons-left">
                                <input id="lastName" name="lastName" class="input" type="text" placeholder="Last Name" value="{{userBillingAddress.lastName}}">
                                <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Country / Region</label>
                            <p class="control has-icons-left">
                                <span class="select is-fullwidth">
                                <select id="countryRegion" name="countryRegion">
                                    <option selected>{{userBillingAddress.countryRegion}}</option>
                                    <option>Select dropdown</option>
                                    <option>With options</option>
                                </select>
                                </span>
                                <span class="icon is-small is-left">
                                <i class="fas fa-globe"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Street Address</label>
                            <div class="control has-icons-left">
                                <input id="streetAddress1" name="streetAddress1" class="input" type="text" placeholder="Street Address 1" value="{{userBillingAddress.streetAddress1}}">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-road"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input id="streetAddress2" name="streetAddress2" class="input" type="text" placeholder="Street Address 2" value="{{userBillingAddress.streetAddress2}}">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-road"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Town / City</label>
                            <div class="control has-icons-left">
                                <input id="townCity" name="townCity" class="input" type="text" placeholder="Town / City" value="{{userBillingAddress.townCity}}">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-city"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">County</label>
                            <div class="control has-icons-left">
                                <input id="county" name="county" class="input" type="text" placeholder="County" value="{{userBillingAddress.county}}">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-map-location-dot"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Postcode</label>
                            <div class="control has-icons-left">
                                <input id="postcode" name="postcode" class="input" type="text" placeholder="Postcode" value="{{userBillingAddress.postcode}}">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Phone Number</label>
                            <div class="control has-icons-left">
                                <input id="phoneNumber" name="phoneNumber" class="input" type="text" placeholder="Phone Number" value="{{userBillingAddress.phoneNumber}}">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                            </div>
                        </div>
                        <label class="label">Date of Birth</label>
                        <div class="field is-grouped">
                            <p class="control">
                                <span class="select">
                                    <select id="DOBDD" name="DOBDD">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </span>
                            </p>
                            <p class="control">
                                <span class="select">
                                    <select id="DOBMM" name="DOBMM">
                                        <option>January</option>
                                        <option>February</option>
                                        <option>March</option>
                                    </select>
                                </span>
                            </p>
                            <p class="control">
                                <span class="select">
                                    <select id="DOBYY" name="DOBYY">
                                        <option>2024</option>
                                        <option>2023</option>
                                        <option>2022</option>
                                    </select>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Email Address</label>
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input id="emailAddress" name="emailAddress" class="input" type="email" placeholder="Email Address" value="{{userBillingAddress.emailAddress}}">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-two-fifths">
                <div class="columns is-multiline px-1">
                    <div class="column is-full is-flex is-justify-content-center is-align-items-center">
                        <p class="subtitle is-3"><strong>Your order</strong></p>
                    </div>
                    <div class="column is-full">
                        <table class="table is-bordered is-striped is-narrow is-fullwidth">
                            <thead>
                                <tr>
                                <th>Product</th>
                                <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Subtotal</th>
                                    <th>£{{totalPrice}}-Discounts</th>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <th>£{{totalPrice}}</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{# each products}}
                                <tr>
                                    <td>Win this {{this.item.title}}! <strong>x {{this.qty}}</strong></td>
                                    <th>£{{formatPrice this.price}}</th>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-full">
                        <p class="subtitle is-4 is-pulled-left"><strong>Total</strong></p>
                        <p class="subtitle is-4 is-pulled-right"><strong>£{{formatPrice totalPrice}}</strong></p>
                    </div>
                    <div class="column is-full">
                        <div class="block has-text-centered">
                            <span class="icon is-large">
                                <i class="fa-brands fa-cc-visa fa-2x"></i>
                            </span>
                            <span class="icon is-large">
                                <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                            </span>

                            <span class="icon is-large">
                                <i class="fa-brands fa-google-pay fa-2x"></i>
                            </span>

                            <span class="icon is-large">
                                <i class="fa-brands fa-apple-pay fa-2x"></i>
                            </span>
                        </div>
                    </div>
                    <div class="column is-full">
                        <input type="hidden" name="csrfToken" value="{{csrfToken}}">
                        <button type="submit" class="button is-medium is-fullwidth is-primary">Pay with Card</button>
                    </div>
                    <div class="column is-full">
                        <button class="button is-medium is-fullwidth is-warning">Pay with PayPal</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>