<section class="hero is-link mb-6">
  <div class="hero-body has-text-centered">
    <p class="title">Draw {{formatDateCompCard competition.drawDate}}</p>
  </div>
</section>


<div class="block container is-max-desktop">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img
                        src="{{competition.imagePath}}"
                        alt="Placeholder image"
                    />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="columns is-multiline" id="additionalImageColumns">
                        {{# each competition.additionalImagePaths}}
                        <div class="column is-narrow">
                            <div class="">
                                <figure class="image is-64x64 is-square ">
                                    <img
                                        src="{{this}}"
                                        alt="Additional Comp Image"
                                    />
                                </figure>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <h2 class="title is-spaced">
                Win this {{competition.title}}!
            </h2>
            <h2 class="subtitle is-6">
                Cash Alternative: £{{competition.cashAlternative}}
            </h2>

            <div class="content">
                <p class="title is-1 is-spaced has-text-primary">£{{formatPrice competition.price}}</p>

                <p class="subtitle is-6 has-text-left">Sold: {{getPercentage competition.currentEntries competition.maxEntries}}%</p>
                <progress class="progress is-info" value="{{competition.currentEntries}}" max="{{competition.maxEntries}}"></progress>
                <p class="subtitle is-6 has-text-centered">{{competition.currentEntries}} / {{competition.maxEntries}}</p>

            </div>

            {{#isTrue competition.active}}
            <div class="tabs-wrapper">
                <div class="tabs is-centered">
                    <ul>
                        <li class="is-active"><a>Online Entry</a></li>
                        <li><a>Postal Entry</a></li>
                    </ul>
                </div>

                <div class="tabs-content">
                    <ul>
                        <li class="is-active">
                            <div class="card">
                                <div class="card-content">
                                    <p class="title is-spaced has-text-primary">
                                    Answer the question
                                    </p>
                                    <p class="subtitle has-text-centered">{{competition.questionText}}</p>
                                    <div id="errorMessage" class="has-text-danger is-dark has-text-centered">
                                        {{#if hasError}}
                                            {{#each error}}
                                                <p>{{this}}</p>
                                            {{/each}}
                                        {{/if}}
                                    </div>
                                    <div class="fixed-grid">
                                        <div class="grid" id="questionButtons">
                                            <div class="cell">
                                                <button id="answer1Button" class="button is-fullwidth" onclick="answerQuestionsButtons(1)">
                                                    <span>{{competition.questionAnswers.[0]}}</span>
                                                </button>
                                            </div>
                                            <div class="cell">
                                                <button id="answer2Button" class="button is-fullwidth" onclick="answerQuestionsButtons(2)">
                                                    <span>{{competition.questionAnswers.[1]}}</span>
                                                </button>
                                                </div>
                                            <div class="cell">
                                                <button id="answer3Button" class="button is-fullwidth" onclick="answerQuestionsButtons(3)">
                                                    <span>{{competition.questionAnswers.[2]}}</span>
                                                </button>
                                                </div>
                                            <div class="cell">
                                                <button id="answer4Button" class="button is-fullwidth" onclick="answerQuestionsButtons(4)">
                                                    <span>{{competition.questionAnswers.[3]}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="title is-spaced">
                                    How many tickets?
                                    </p>
                                    <div>
                                        <input id="sliderWithValue" class="slider has-output is-fullwidth" min="1" max="{{competition.maxEntriesPerPerson}}" value="10" step="1" type="range" oninput="updateTicketCount()" onmouseup="updateTicketCount()" onchange="updateTicketCount()">
                                        <output id="ticketSliderCount" for="sliderWithValue">10</output>
                                    </div>

                                    <div class="buttons has-addons is-centered">
                                        <button class="button" onclick="updateTicketCount('-')">-</button>
                                        <button id="ticketButtonCount" class="button is-static">Number of tickets: 10</button>
                                        <button class="button" onclick="updateTicketCount('+')">+</button>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a id="addToBasketButton" href="/addToBasket/{{competition._id}}/1/10" class="button card-footer-item is-primary" onclick="return verifyCompAnswer()">
                                        <span>Add tickets to basket</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-ticket"></i>
                                        </span>
                                    </a>
                                </footer>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <p>Postal entries to this competition receive {{competition.maxPostalVotes}} ticket.</p>
                                <p>You may enter the competition using the Postal Entry Route by complying with the following conditions:</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {{else}}
            <div class="notification is-warning">
                <p>The competition has now closed and the winner will be contacted.</p>
            </div>
            {{/isTrue}}
        </div>
    </div>
</div>


<div class="hero is-dark py-5 my-6">
    <nav class="level container is-max-fullhd">
        <div class="level-left">
            <div class="level-item has-text-centered px-6">
                <p class="subtitle">
                    <span class="icon">
                        <i class="fa-solid fa-tag"></i>
                    </span>
                    <div class="px-2">
                        <p class="title is-6 is-uppercase">Entries only £{{formatPrice competition.price}}</p>
                    </div>
                </p>
            </div>
        </div>
        <div class="level-item has-text-centered px-6">
            <p class="subtitle">
                <span class="icon">
                    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                </span>
                <div class="px-2">
                    <p class="title is-6 is-uppercase">Max Entries {{competition.maxEntries}}</p>
                </div>
            </p>
        </div>
        <div class="level-right">
            <div class="level-item has-text-centered px-6">
                <p class="subtitle">
                    <span class="icon">
                        <i class="fa-solid fa-circle-user"></i>
                    </span>
                    <div class="px-2">
                        <p class="title is-6 is-uppercase">Max {{competition.maxEntriesPerPerson}} per person</p>
                    </div>
                </p>
            </div>
        </div>
    </nav>
</div>

<div class="container is-max-desktop">
  <div class="notification has-text-centered">
    <p class="subtitle is-4"><strong>Live Draw</strong> {{formatDate competition.drawDate}}</p>
  </div>

    <div class="content">
        <ul>
            <li>Draw takes place regardless of sell out</li>
            <li>Competition will close sooner if the maximum entries are received</li>
            <li>Interactive live draw on our <a href="#">Facebook</a> and <a href="#">Youtube</a> page</li>
        </ul>
    </div>
</div>

<div class="tabs is-centered mt-6">
  <ul>
    <li><a>Buy Tickets</a></li>
    <li class="is-active"><a>Competition Details</a></li>
    <li><a>FAQ</a></li>
  </ul>
</div>


<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title">Competition Details</h1>
    </div>
    <hr />
    <h2 class="title is-4">{{competition.title}}</h2>
    <div class="content">
        <ul>
            <li>{{{formatDescription competition.description}}}</li>
        </ul>
    </div>
    
    <hr />

    <div class="content my-6">
        <h1 class="title">FAQ</h1>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header" onclick="toggleElement('faq_01', true)">
                <p class="card-header-title title my-4">Competition Rules</p>
                <button class="card-header-icon" aria-label="more options">
                    <span id="iconfaq_01" class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div id="faq_01" class="card-content" style="display: none;">
                <div class="content">
                Your order will show as cancelled if you did not complete the payment, or if your payment failed. Orders are automatically cancelled after 10 minutes if we do not receive a successful payment.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header" onclick="toggleElement('faq_02', true)">
                <p class="card-header-title title my-4">When do I get my number?</p>
                <button class="card-header-icon" aria-label="more options">
                    <span id="iconfaq_02" class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div id="faq_02" class="card-content" style="display: none;">
                <div class="content">
                Your order will show as cancelled if you did not complete the payment, or if your payment failed. Orders are automatically cancelled after 10 minutes if we do not receive a successful payment.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header" onclick="toggleElement('faq_03', true)">
                <p class="card-header-title title my-4">How do you do the draw?</p>
                <button class="card-header-icon" aria-label="more options">
                    <span id="iconfaq_03" class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div id="faq_03" class="card-content" style="display: none;">
                <div class="content">
                Your order will show as cancelled if you did not complete the payment, or if your payment failed. Orders are automatically cancelled after 10 minutes if we do not receive a successful payment.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header" onclick="toggleElement('faq_04', true)">
                <p class="card-header-title title my-4">When is the draw?</p>
                <button class="card-header-icon" aria-label="more options">
                    <span id="iconfaq_04" class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div id="faq_04" class="card-content" style="display: none;">
                <div class="content">
                Your order will show as cancelled if you did not complete the payment, or if your payment failed. Orders are automatically cancelled after 10 minutes if we do not receive a successful payment.
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="container is-max-desktop">
        <h2 class="subtitle is-6">Share This</h2>
        <div class="buttons">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/competition/{{competition.id}}" target="_blank" class="button is-facebook">
                <span class="icon is-small">
                    <i class="fa-brands fa-square-facebook"></i>
                </span>
                <span>Facebook</span>
            </a>
            <a href="https://twitter.com/share?url=http://localhost:3000/competition/{{competition.id}}&text=Win This {{competition.title}}!" target="_blank" class="button is-info">
                <span class="icon is-small">
                    <i class="fa-brands fa-square-twitter"></i>
                </span>
                <span>Twitter</span>
            </a>
            <a href="https://api.whatsapp.com/send?text=Win This {{competition.title}}! http://localhost:3000/competition/{{competition.id}}" target="_blank" class="button is-success">
                <span class="icon">
                    <i class="fa-brands fa-square-whatsapp"></i>
                </span>
                <span>WhatsApp</span>
            </a>
            <button class="button is-link" onclick="copyShareLink('link')">
                <span class="icon is-small">
                    <i class="fa-solid fa-copy"></i>
                </span>
                <span>Copy Link</span>
            </button>
            <button class="button" onclick="window.open('mailto:?subject=Win This {{competition.title}}&body=Click here to enter! http://localhost:3000/competition/{{competition.id}}');">
                <span class="icon is-small">
                    <i class="fa-solid fa-square-envelope"></i>
                </span>
                <span>Email</span>
            </button>
        </div>
        <div class="control" id="copyLinkInfo" style="display: none;">
            <p class="is-success">The link has been copied!</p>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input id="shareLinkText" class="input is-success" type="text" value="http://localhost:3000/competition/{{competition.id}}" readonly />
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-link"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
    {{> payIcons}}
</div>

<div id="modal-js-example" class="modal {{#if addedToBasket}}is-active{{/if}}">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">You've added tickets to basket</p>
                <button class="card-header-icon" aria-label="close" onclick="closeBasketModal()">
                    <span class="icon">
                        <i class="fa-solid fa-xmark"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                        <img
                            src="{{competition.imagePath}}"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="media-content py-1">
                        <p class="subtitle is-6">Win this {{competition.title}}</p>
                        <p class="title is-5">{{ticketQty}} Tickets</p>
                    </div>
                </div>

                <div class="buttons is-centered">
                    <button class="button is-primary is-outlined" aria-label="close" onclick="closeBasketModal()">
                        <span>Keep Shopping</span>
                    </button>
                    <a href="/basket" class="button is-primary">
                        <span>View Basket</span>
                    </a>
                </div>
                <hr />
                <div class="block has-text-centered">
                    <div>
                        <figure class="image is-1by1 is-128x128 mx-auto">
                            <img src="https://images.idgesg.net/images/article/2021/01/samsung-870-evo-sata-ssd-primary-100873962-orig.jpg?quality=50&strip=all" />
                        </figure>
                    </div>
                    <p class="subtitle mt-4">Want to also win this <strong>2TB Samsung SSD Evo<strong>?</p>
                </div>
            </div>

            <footer class="card-footer">
                <a href="/competition" class="button is-primary card-footer-item ">
                    <span>Enter Here</span>
                    <span class="icon">
                        <i class="fa-solid fa-ticket"></i>
                    </span>
                </a>
            </footer>
            </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>



