<section class="hero is-link mb-6">
  <div class="hero-body has-text-centered">
    <p class="title">Draw Sunday 2nd June - 7pm</p>
  </div>
</section>


<div class="block container is-max-widescreen">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img
                        src="{{competition.imagePath}}"
                        alt="Placeholder image"
                    />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48 is-square">
                        <img
                            src="https://m.media-amazon.com/images/I/51BIdV4YzNL._AC_SL1500_.jpg"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="media-left">
                        <figure class="image is-48x48 is-square">
                        <img
                            src="https://m.media-amazon.com/images/I/3127qOn3xhL._AC_SL1080_.jpg"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="media-left">
                        <figure class="image is-48x48 is-square">
                        <img
                            src="https://m.media-amazon.com/images/I/4164ht1LElL._AC_SL1080_.jpg"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="media-left">
                        <figure class="image is-48x48 is-square">
                        <img
                            src="https://m.media-amazon.com/images/I/61UCon52o7L._AC_SL1371_.jpg"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="media-left">
                        <figure class="image is-48x48 is-square">
                        <img
                            src="https://m.media-amazon.com/images/I/71OMEnoCMFL._AC_SL1500_.jpg"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="media-content"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <h2 class="title is-spaced">
                Win this {{competition.title}}!
            </h2>
            <h2 class="subtitle is-6">
                Cash Alternative: £{{competition.cashAlternative}}
            </h2>

            <div class="content">
                <p class="title is-1 is-spaced has-text-primary">£{{formatPrice competition.price}}</p>

                <p class="subtitle is-6 has-text-left">Sold: {{getPercentage competition.currentEntries competition.maxEntries}}%</p>
                <progress class="progress is-info" value="{{competition.currentEntries}}" max="{{competition.maxEntries}}"></progress>
                <p class="subtitle is-6 has-text-centered">{{competition.currentEntries}} / {{competition.maxEntries}}</p>

            </div>
            <div class="tabs-wrapper">
                <div class="tabs is-centered">
                    <ul>
                        <li class="is-active"><a>Online Entry</a></li>
                        <li><a>Postal Entry</a></li>
                    </ul>
                </div>

                <div class="tabs-content">
                    <ul>
                        <li class="is-active">
                            <div class="card">
                                <div class="card-content">
                                    <p class="title is-spaced has-text-primary">
                                    Answer the question
                                    </p>
                                    <p class="subtitle has-text-centered">{{competition.questionText}}</p>
                                    <div class="fixed-grid">
                                        <div class="grid" id="questionButtons">
                                            <div class="cell">
                                                <button id="answer1Button" class="button is-fullwidth" onclick="answerQuestionsButtons(1)">
                                                    <span>{{competition.questionAnswers.[0]}}</span>
                                                </button>
                                            </div>
                                            <div class="cell">
                                                <button id="answer2Button" class="button is-fullwidth" onclick="answerQuestionsButtons(2)">
                                                    <span>{{competition.questionAnswers.[1]}}</span>
                                                </button>
                                                </div>
                                            <div class="cell">
                                                <button id="answer3Button" class="button is-fullwidth" onclick="answerQuestionsButtons(3)">
                                                    <span>{{competition.questionAnswers.[3]}}</span>
                                                </button>
                                                </div>
                                            <div class="cell">
                                                <button id="answer4Button" class="button is-fullwidth" onclick="answerQuestionsButtons(4)">
                                                    <span>{{competition.questionAnswers.[3]}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="title is-spaced">
                                    How many tickets?
                                    </p>
                                    <div>
                                        <input id="sliderWithValue" class="slider has-output is-fullwidth" min="1" max="{{competition.maxEntriesPerPerson}}" value="10" step="1" type="range" oninput="updateTicketCount()" onmouseup="updateTicketCount()" onchange="updateTicketCount()">
                                        <output id="ticketSliderCount" for="sliderWithValue">10</output>
                                    </div>

                                    <div class="buttons has-addons is-centered">
                                        <button class="button" onclick="updateTicketCount('-')">-</button>
                                        <button id="ticketButtonCount" class="button is-static">Number of tickets: 10</button>
                                        <button class="button" onclick="updateTicketCount('+')">+</button>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a id="addToBasketButton" href="/addToBasket/{{competition._id}}/1/10" class="button card-footer-item is-primary js-modal-trigger" data-target="modal-js-example">
                                        <span>Add tickets to basket</span>
                                        <span class="icon">
                                            <i class="fa-solid fa-ticket"></i>
                                        </span>
                                    </a>
                                </footer>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <p>Postal entries to this competition receive {{competition.maxPostalVotes}} ticket.</p>
                                <p>You may enter the competition using the Postal Entry Route by complying with the following conditions:</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hero is-dark py-5 my-6">
    <nav class="level container is-max-fullhd">
        <div class="level-left">
            <div class="level-item has-text-centered px-6">
                <p class="subtitle">
                    <span class="icon">
                        <i class="fa-solid fa-tag"></i>
                    </span>
                    <div class="px-2">
                        <p class="title is-6 is-uppercase">Entries only £{{formatPrice competition.price}}</p>
                    </div>
                </p>
            </div>
        </div>
        <div class="level-item has-text-centered px-6">
            <p class="subtitle">
                <span class="icon">
                    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                </span>
                <div class="px-2">
                    <p class="title is-6 is-uppercase">Max Entries {{competition.maxEntries}}</p>
                </div>
            </p>
        </div>
        <div class="level-right">
            <div class="level-item has-text-centered px-6">
                <p class="subtitle">
                    <span class="icon">
                        <i class="fa-solid fa-circle-user"></i>
                    </span>
                    <div class="px-2">
                        <p class="title is-6 is-uppercase">Max {{competition.maxEntriesPerPerson}} per person</p>
                    </div>
                </p>
            </div>
        </div>
    </nav>
</div>

<div class="container is-max-desktop">
  <div class="notification has-text-centered">
    <p class="subtitle is-4"><strong>Live Draw</strong> 02-06-2024 @ 7:00PM</p>
  </div>

    <div class="content">
        <ul>
            <li>Draw takes place regardless of sell out</li>
            <li>Competition will close sooner if the maximum entries are received</li>
            <li>Interactive live draw on our <a href="#">Facebook</a> and <a href="#">Youtube</a> page</li>
        </ul>
    </div>
</div>

<div class="tabs is-centered mt-6">
  <ul>
    <li><a>Buy Tickets</a></li>
    <li class="is-active"><a>Competition Details</a></li>
    <li><a>FAQ</a></li>
  </ul>
</div>


<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title">Competition Details</h1>
    </div>
    <hr />
    <h2 class="title is-4">Xbox Series X 1TB</h2>
    <div class="content">
        <ul>
            <li>{{{formatDescription competition.description}}}</li>
        </ul>
    </div>
    
    <hr />

    <div class="content my-6">
        <h1 class="title">FAQ</h1>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title my-4">Competition Rules</p>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title my-4">When do I get my number?</p>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title my-4">How do you do the draw?</p>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title my-4">When is the draw?</p>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
        </div>
    </div>

    <hr />
    <div class="container is-max-desktop">
        <h2 class="subtitle is-6">Share This</h2>
        <div class="buttons">
            <button class="button is-facebook">
                <span class="icon is-small">
                    <i class="fa-brands fa-square-facebook"></i>
                </span>
                <span>Facebook</span>
            </button>
            <button class="button is-info">
                <span class="icon is-small">
                    <i class="fa-brands fa-square-twitter"></i>
                </span>
                <span>Twitter</span>
            </button>
            <button class="button is-success">
                <span class="icon">
                    <i class="fa-brands fa-square-whatsapp"></i>
                </span>
                <span>WhatsApp</span>
            </button>
            <button class="button">
                <span class="icon is-small">
                    <i class="fa-solid fa-copy"></i>
                </span>
                <span>Copy Link</span>
            </button>
            <button class="button">
                <span class="icon is-small">
                    <i class="fa-solid fa-square-envelope"></i>
                </span>
                <span>Email</span>
            </button>
        </div>
    </div>
    {{> payIcons}}
</div>

<div id="modal-js-example" class="modal {{#if addedToBasket}}is-active{{/if}}">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">You've added tickets to basket</p>
                <button class="card-header-icon" aria-label="close" onclick="closeBasketModal()">
                    <span class="icon">
                        <i class="fa-solid fa-xmark"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                        <img
                            src="{{competition.imagePath}}"
                            alt="Placeholder image"
                        />
                        </figure>
                    </div>
                    <div class="media-content py-1">
                        <p class="subtitle is-6">Win this {{competition.title}}</p>
                        <p class="title is-4">X Tickets</p>
                    </div>
                </div>

                <div class="buttons is-centered">
                    <button class="button is-primary is-outlined" aria-label="close" onclick="closeBasketModal()">
                        <span>Keep Shopping</span>
                    </button>
                    <a href="/basket" class="button is-primary">
                        <span>View Basket</span>
                    </a>
                </div>
                <hr />
                <div class="block has-text-centered">
                    <div>
                        <figure class="image is-1by1 is-128x128 mx-auto">
                            <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                        </figure>
                    </div>
                    <p class="subtitle mt-4">Want to also win this <strong>2TB Samsung SSD Evo<strong>?</p>
                </div>
            </div>

            <footer class="card-footer">
                <a href="/competition" class="button is-primary card-footer-item ">
                    <span>Enter Here</span>
                    <span class="icon">
                        <i class="fa-solid fa-ticket"></i>
                    </span>
                </a>
            </footer>
            </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>



