{{#ifOR competition.visible admin}}
    <section id="buyTickets">
        <div class="hero is-link mb-6">
            <div class="hero-body has-text-centered">
                <p class="title">Draw {{formatDateCompCard competition.drawDate}}</p>
            </div>
        </div>

    
        <div class="block container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img
                                src="{{competition.imagePath}}"
                                alt="Main image"
                                class="compImage"
                            />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="columns is-multiline" id="additionalImageColumns">
                                {{# each competition.additionalImagePaths}}
                                <div class="column is-narrow">
                                    <div class="">
                                        <figure class="image is-64x64 is-square ">
                                            <img
                                                src="{{this}}"
                                                alt="Additional Image"
                                                class="compImage"
                                            />
                                        </figure>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <h2 class="title is-spaced">
                        Win this {{competition.title}}!
                    </h2>
                    <h2 class="subtitle is-6">
                        {{#if competition.cashAlternative}}Cash Alternative: £{{competition.cashAlternative}}{{/if}}
                    </h2>

                    <div class="content">
                        {{#if competition.discountPrice}}
                            <p class="title is-5 has-text-primary"><s>£{{formatPrice competition.price}}</s></p>
                            <p class="title is-1 is-spaced has-text-primary">£{{formatPrice competition.discountPrice}}</p>
                        {{else}}
                            <p class="title is-1 is-spaced has-text-primary">£{{formatPrice competition.price}}</p>
                        {{/if}}

                        <p class="subtitle is-6 has-text-left">Sold: {{getPercentage competition.currentEntries competition.pendingEntries competition.maxEntries}}%</p>
                        <progress class="progress is-info" value="{{calculateCompTotalEntries competition.currentEntries competition.pendingEntries}}" max="{{competition.maxEntries}}"></progress>
                        <p class="subtitle is-6 has-text-centered">{{calculateCompTotalEntries competition.currentEntries competition.pendingEntries}} / {{competition.maxEntries}}</p>
                    </div>

                    {{#if competition.active}}
                        {{#ifCompClosed competition.entryCloseDate}}
                            <div class="notification is-warning has-text-centered">
                                <div>
                                    <span class="icon fas fa-2x">
                                        <i class="fa-solid fa-clock"></i>
                                    </span>
                                    <div>
                                        <p>Entries to this competition have now closed.</p>
                                        <p>The draw will take place soon.</p>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            {{#ifSoldOut competition.currentEntries competition.pendingEntries competition.maxEntries}}
                                <div class="notification is-warning has-text-centered">
                                    <div>
                                        <span class="icon fas fa-2x">
                                            <i class="fa-solid fa-clock"></i>
                                        </span>
                                        <div>
                                            <p>This competition has sold out.</p>
                                            <p>The draw will take place soon.</p>
                                        </div>
                                    </div>
                                </div>
                            {{else}}
                                {{#ifClosingSoon competition.entryCloseDate}}
                                    <div class="notification is-warning has-text-centered">
                                        <div>
                                            <span class="icon fas fa-2x">
                                                <i class="fa-solid fa-triangle-exclamation"></i>
                                            </span>
                                            <div>
                                                <p>This competition is closing soon!</p>
                                                <p>Entries close <strong>{{formatDate competition.entryCloseDate}}</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                {{/ifClosingSoon}}
                                <div class="tabs-wrapper">
                                    <div class="tabs is-centered">
                                        <ul>
                                            <li class="is-active"><a>Online Entry</a></li>
                                            <li><a>Postal Entry</a></li>
                                        </ul>
                                    </div>

                                    <div class="tabs-content">
                                        <ul>
                                            <li class="is-active">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <p class="title is-spaced has-text-primary">
                                                        Answer the question
                                                        </p>
                                                        <p class="subtitle has-text-centered">{{competition.questionText}}</p>
                                                        <div id="errorMessage" class="has-text-danger is-dark has-text-centered">
                                                            {{#if hasError}}
                                                                {{#each error}}
                                                                    <p>{{this}}</p>
                                                                {{/each}}
                                                            {{/if}}
                                                            {{#ifBanned user.bannedUntilDate}}<p>Timeout: You Cannot Make Any Payments Until {{formatDate user.bannedUntilDate}}</p>{{/ifBanned}}
                                                        </div>
                                                        <div class="fixed-grid">
                                                            <div class="grid" id="questionButtons">
                                                                <div class="cell">
                                                                    <button id="answer1Button" class="button is-fullwidth" onclick="answerQuestionsButtons(1)">
                                                                        <span>{{competition.questionAnswers.[0]}}</span>
                                                                    </button>
                                                                </div>
                                                                <div class="cell">
                                                                    <button id="answer2Button" class="button is-fullwidth" onclick="answerQuestionsButtons(2)">
                                                                        <span>{{competition.questionAnswers.[1]}}</span>
                                                                    </button>
                                                                    </div>
                                                                <div class="cell">
                                                                    <button id="answer3Button" class="button is-fullwidth" onclick="answerQuestionsButtons(3)">
                                                                        <span>{{competition.questionAnswers.[2]}}</span>
                                                                    </button>
                                                                    </div>
                                                                <div class="cell">
                                                                    <button id="answer4Button" class="button is-fullwidth" onclick="answerQuestionsButtons(4)">
                                                                        <span>{{competition.questionAnswers.[3]}}</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="title is-spaced">
                                                        How many tickets?
                                                        </p>
                                                        <div>
                                                            <input id="sliderWithValue" class="slider has-output is-fullwidth" min="1" max="{{calculateMaxTicketsPurchasable competition.maxEntries competition.maxEntriesPerPerson competition.currentEntries competition.pendingEntries userCompTicketQty}}" value="{{calculateCurrentTicketsSelected competition.maxEntries competition.maxEntriesPerPerson competition.currentEntries competition.pendingEntries userCompTicketQty}}" step="1" type="range" oninput="updateTicketCount()" onmouseup="updateTicketCount()" onchange="updateTicketCount()">
                                                            <output id="ticketSliderCount" for="sliderWithValue">{{calculateCurrentTicketsSelected competition.maxEntries competition.maxEntriesPerPerson competition.currentEntries competition.pendingEntries}}</output>
                                                        </div>

                                                        <div class="buttons has-addons is-centered">
                                                            <button id="subTicketButton" class="button" onclick="updateTicketCount('-')">-</button>
                                                            <button id="ticketButtonCount" class="button is-static">Number of tickets: {{calculateCurrentTicketsSelected competition.maxEntries competition.maxEntriesPerPerson competition.currentEntries competition.pendingEntries userCompTicketQty}}</button>
                                                            <button id="addTicketButton" class="button" onclick="updateTicketCount('+')">+</button>
                                                        </div>
                                                    </div>
                                                    <footer class="card-footer">
                                                        <a id="addToBasketButton" class="button card-footer-item is-primary" href="/addToBasket/{{competition._id}}/1/{{calculateCurrentTicketsSelected competition.maxEntries competition.maxEntriesPerPerson competition.currentEntries competition.pendingEntries userCompTicketQty}}" onclick="return verifyCompAnswer()">
                                                            <span>Add Tickets to Basket</span>
                                                            <span class="icon">
                                                                <i class="fa-solid fa-ticket"></i>
                                                            </span>
                                                        </a>
                                                    </footer>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="content">
                                                    <p>Postal entries to this competition receive 1 ticket.</p>
                                                    <p>Maximum Postal entries to this competition is {{competition.maxPostalEntries}} per person.</p>
                                                    <p>You may enter the competition using the Postal Entry Route by complying with the following conditions:</p>
                                                    <dl>
                                                        <dt><strong>a.</strong> Send your entry on an unenclosed postcard to the Promoter at the following address:</dt>
                                                        <dd><address>[ADDRESS]</address></dd>

                                                        <dt><strong>b.</strong> Hand delivered entries will not be accepted and will not be entered into the random draw;</dt>

                                                        <dt><strong>c.</strong> Include with your entry the following information:</dt>
                                                        <dd><strong>I.</strong>   your full name;</dd>
                                                        <dd><strong>II.</strong>  your address;</dd>
                                                        <dd><strong>III.</strong> a contact telephone number and email address that is linked to your account;</dd>
                                                        <dd><strong>IV.</strong>  and your chosen competition, and your answer to the Competition Question.</dd>

                                                        <dt><strong>d.</strong> Incomplete or illegible entries will be disqualified;</dt>

                                                        <dt><strong>e.</strong> You may make multiple free entries for any competition (up to any limit placed on entries by the Promoter) but each free entry must be submitted and posted to the Promoter separately. Bulk entries will not be accepted as multiple entries and if a bulk entry is received, it will be counted as one single entry;</dt>

                                                        <dt><strong>f.</strong> By entering the competition, you are confirming that you are eligible to enter and accept these terms and conditions;</dt>

                                                        <dt><strong>g.</strong> Your entry must be received by the Promoter prior to the Closing Date. Entries received after the Closing Date will not be entered into the random draw. Proof of posting does not guarantee that you will be entered into the random draw;</dt>

                                                        <dt><strong>h.</strong> The Promoter will email each Entrant who has submitted a valid entry via the Postal Entry Route to confirm their ticket number;</dt>

                                                        <dt><strong>i.</strong> If the number of entries received reaches any cap or limit before your free entry is received, you will not be entered into the random draw.</dt>

                                                        <dt><strong>j.</strong> Entrants must have created an account on the Website/App for the free entry to be processed. All details on the postcard must correspond to the details on the account to receive the order confirmation and ticket number. Postal entries received without a registered account cannot be processed. Entrants must add an address to the related account for entries to be processed.</dt>
                                                    </dl>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {{/ifSoldOut}}
                        {{/ifCompClosed}}
                    {{else}}
                    <div class="notification is-info has-text-centered">
                        <div>
                            <span class="icon fas fa-2x">
                                <i class="fa-solid fa-dice"></i>
                            </span>
                            <div>
                                <p>The competition has now closed.</p>
                                <p>The winner will be contacted.</p>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="hero is-dark py-5 my-6">
            <nav class="level container is-max-fullhd">
                <div class="level-left">
                    <div class="level-item has-text-centered px-6">
                        <p class="subtitle">
                            <span class="icon">
                                <i class="fa-solid fa-tag"></i>
                            </span>
                            <div class="px-2">
                                <p class="title is-6 is-uppercase">Entries only £{{#if competition.discountPrice}} {{formatPrice competition.discountPrice}} {{else}} {{formatPrice competition.price}} {{/if}}</p>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered px-6">
                    <p class="subtitle">
                        <span class="icon">
                            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                        </span>
                        <div class="px-2">
                            <p class="title is-6 is-uppercase">Max Entries {{competition.maxEntries}}</p>
                        </div>
                    </p>
                </div>
                <div class="level-right">
                    <div class="level-item has-text-centered px-6">
                        <p class="subtitle">
                            <span class="icon">
                                <i class="fa-solid fa-circle-user"></i>
                            </span>
                            <div class="px-2">
                                <p class="title is-6 is-uppercase">Max {{competition.maxEntriesPerPerson}} per person</p>
                            </div>
                        </p>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container is-max-desktop">
        <div class="notification has-text-centered">
            <p class="subtitle is-4"><strong>Live Draw</strong> {{formatDate competition.drawDate}}</p>
        </div>

            <div class="content">
                <ul>
                    <li>Draw takes place regardless of sell out</li>
                    <li>Entries to the competition will close {{formatDate competition.entryCloseDate}}</li>
                    <li>Competition will close sooner if the maximum entries are received</li>
                    <li>Interactive live draw on our <a href="#">Facebook</a> and <a href="#">Youtube</a> page</li>
                </ul>
            </div>
        </div>

        <nav id="tabScrollNav" class="tabs is-centered mt-6 tabScrollNav navbar">
            <ul>
                <li class="scrollClass is-active"><a href="#buyTickets" >Buy Tickets</a></li>
                <li class="scrollClass"><a href="#compDetails" >Competition Details</a></li>
                <li class="scrollClass"><a href="#faq" >FAQ</a></li>
            </ul>
        </nav>
    </section>
    <section id="compDetails">
        <div class="container is-max-widescreen">
        
            <div class="content my-6">
                <h1 class="title">Competition Details</h1>
            </div>
            <hr />
            <h2 class="title is-4">{{competition.title}}</h2>
            <div class="content">
                <ul>
                    <p style="white-space: pre-line">
                        {{competition.description}}
                    </p>
                </ul>
            </div>
            <hr />
        </div>    
    </section>
    <section id="faq">
        <div class="container is-max-widescreen">
            <div class="content my-6">
                <h1 class="title">FAQ</h1>
            </div>
            <div class="container">
                <div class="card is-clickable">
                    <header class="card-header" onclick="toggleElement('faq_01', true)">
                        <p class="card-header-title title my-4">Competition Rules</p>
                        <button class="card-header-icon" aria-label="more options">
                            <span id="iconfaq_01" class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div id="faq_01" class="card-content" style="display: none;">
                        <div class="content">
                            <p>The live draw and updates will be on our Facebook page and our Youtube Channel! You will be allocated ticket number(s) at random when your order is confirmed and will receive the number(s) via email. The total amount of entries for this competition is {{competition.maxEntries}}. The draw will take place on {{formatDate competition.drawDate}} regardless of ticket sales.</p>
                            <p>To enter for free send an unenclosed postcard stating your: Full Name, Email Address, Phone Number, Full Address, Competition, Answer To Competition Question. All entries must be sent to [Address], and received before the close of the competition.</p>
                            <p>Please ensure you have read and agree to our terms and conditions before entering by post or online. If your entries do not comply with the terms they will not be included in the draw. Please note, you must sign up for an account before making your entry! Entries submitted without an associated account cannot be processed. You must add your billing address to your account in order for your entries to be processed.</p>
                            <p>You can watch the draw LIVE on Facebook and Youtube – Follow our pages – Facebook / Youtube. We will also be posting updates on this competition and future competitions on the page so make sure you are following and our posts are set to show at the top of your newsfeed!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card is-clickable">
                    <header class="card-header" onclick="toggleElement('faq_02', true)">
                        <p class="card-header-title title my-4">When do I get my number?</p>
                        <button class="card-header-icon" aria-label="more options">
                            <span id="iconfaq_02" class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div id="faq_02" class="card-content" style="display: none;">
                        <div class="content">
                            <p>Your ticket number(s) will be shown as soon as your order is confirmed and will be available under ‘My Account’ and in your email confirmation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card is-clickable">
                    <header class="card-header" onclick="toggleElement('faq_03', true)">
                        <p class="card-header-title title my-4">How do you do the draw?</p>
                        <button class="card-header-icon" aria-label="more options">
                            <span id="iconfaq_03" class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div id="faq_03" class="card-content" style="display: none;">
                        <div class="content">
                            <p>The draw takes place live on Facebook and Youtube using a random number generator to determine the winner.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card is-clickable">
                    <header class="card-header" onclick="toggleElement('faq_04', true)">
                        <p class="card-header-title title my-4">When is the draw?</p>
                        <button class="card-header-icon" aria-label="more options">
                            <span id="iconfaq_04" class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div id="faq_04" class="card-content" style="display: none;">
                        <div class="content">
                            <p>The live draw for this competition will take place on {{formatDate competition.drawDate}}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr />
        <div class="container is-max-desktop">
            <h2 class="subtitle is-6">Share This</h2>
            <div class="buttons">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/competition/{{competition.id}}" target="_blank" class="button is-facebook">
                    <span class="icon is-small">
                        <i class="fa-brands fa-square-facebook"></i>
                    </span>
                    <span>Facebook</span>
                </a>
                <a href="https://twitter.com/share?url=http://localhost:3000/competition/{{competition.id}}&text=Win This {{competition.title}}!" target="_blank" class="button is-info">
                    <span class="icon is-small">
                        <i class="fa-brands fa-square-twitter"></i>
                    </span>
                    <span>Twitter</span>
                </a>
                <a href="https://api.whatsapp.com/send?text=Win This {{competition.title}}! http://localhost:3000/competition/{{competition.id}}" target="_blank" class="button is-success">
                    <span class="icon">
                        <i class="fa-brands fa-square-whatsapp"></i>
                    </span>
                    <span>WhatsApp</span>
                </a>
                <button class="button is-link" onclick="copyShareLink('shareLinkText', 'copyLinkInfo')">
                    <span class="icon is-small">
                        <i class="fa-solid fa-copy"></i>
                    </span>
                    <span>Copy Link</span>
                </button>
                <button class="button" onclick="window.open('mailto:?subject=Win This {{competition.title}}&body=Click here to enter! http://localhost:3000/competition/{{competition.id}}');">
                    <span class="icon is-small">
                        <i class="fa-solid fa-square-envelope"></i>
                    </span>
                    <span>Email</span>
                </button>
            </div>
            <div class="control" id="copyLinkInfo" style="display: none;">
                <p class="is-success">The link has been copied!</p>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input id="shareLinkText" class="input is-success" type="text" value="http://localhost:3000/competition/{{competition.id}}" readonly />
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-link"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        {{> payIcons}}
    </div>

    <div id="modal-js-example" class="modal {{#if addedToBasket}}is-active{{/if}}">
        <div class="modal-background"></div>
        <div class="modal-content">

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">You've added tickets to basket</p>
                    <button class="card-header-icon" aria-label="close" onclick="closeBasketModal()">
                        <span class="icon">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                            <img
                                src="{{competition.imagePath}}"
                                alt="Placeholder image"
                            />
                            </figure>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Win this {{competition.title}}</p>
                            <p class="title is-5">{{ticketQty}} Tickets</p>
                        </div>
                    </div>

                    <div class="buttons is-centered">
                        <button class="button is-primary is-outlined" aria-label="close" onclick="closeBasketModal()">
                            <span>Keep Shopping</span>
                        </button>
                        <a href="/basket" class="button is-primary">
                            <span>View Basket</span>
                        </a>
                    </div>
                    
                    {{#if additionalCompetition}}
                    <hr />
                    <div class="block has-text-centered">
                        <div>
                            <figure class="image is-1by1 is-128x128 mx-auto">
                                <img src="{{additionalCompetition.imagePath}}" />
                            </figure>
                        </div>
                        <p class="subtitle mt-4">Want to also win this <strong>{{additionalCompetition.title}}<strong>?</p>
                    </div>
                    {{/if}}
                </div>

                {{#if additionalCompetition}}
                    <footer class="card-footer">
                        <a href="/competition/{{additionalCompetition.id}}" class="button is-primary card-footer-item ">
                            <span>Enter Here</span>
                            <span class="icon">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </a>
                    </footer>
                {{/if}}
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="imageModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <section class="">
                <p class="image is-4by3">
                    <img id="modalImage" src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="">
                </p>
            </section>
            <footer class="modal-card-foot is-flex is-justify-content-center">
                <div class="columns is-mobile">
                    <div class="column is-1">
                        <button id="leftImageModalBtn" class="button is-pulled-left">
                            <span class="icon is-small">
                                <i class="fa-solid fa-chevron-left"></i>
                            </span>
                        </button>
                    </div>
                    <div id="imageCounter" class="column is-10 has-text-centered">Image 1 of 1</div>
                    <div class="column is-1">
                        <button id="rightImageModalBtn" class="button is-pulled-right">
                            <span class="icon is-small">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>        
                        </button>
                    </div>
                </div>
            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
{{else}}
    <section class="hero is-link mb-6">
        <div class="hero-body has-text-centered">
            <p class="title">View Competition</p>
        </div>
    </section>
    <!-- if Empty -->
    <div class="block">
        <div class="container my-6">
            <h1 class="title is-2 has-text-centered">
                <p>This competition is not currently viewable.</p>  
                <p>Check back later or contact support.</p>
            </h1>
        </div>
    </div>
    <div class="buttons is-centered">
        <a href="/" class="button is-large is-link">Return to Competitions</a>
    </div>
{{/ifOR}}


<script>

document.addEventListener('DOMContentLoaded', () => {
    const navbar = document.getElementById('tabScrollNav');
    const navbarLinks = document.querySelectorAll('.scrollClass a');
    const sections = document.querySelectorAll('section');
    const offsetTop = navbar.offsetTop-50;
    
    // Function to throttle or debounce the scroll event
    const debounce = (func, wait) => {
        let timeout;
        return (...args) => {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
        };
    };

    const setActiveLink = () => {
        const scrollPosition = window.scrollY;

        sections.forEach(section => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.offsetHeight;
            const sectionId = section.getAttribute('id');
            const offset = -100; // Adjust based on your header height or padding

            //console.log('!!!!!!!!!!!!!!!!!!!!! sectionId = '+sectionId);
            //console.log('ScrollPosition'+scrollPosition);
            //console.log('sectionTop'+sectionTop);
            //console.log('offset'+offset);
            //console.log('sectionHeight'+sectionHeight);
            //console.log('if '+scrollPosition+ '>='+sectionTop+'+'+offset);
            //console.log('&& '+scrollPosition+ '<'+sectionTop+'+'+sectionHeight+'+'+offset);

            if (scrollPosition >= sectionTop+offset && scrollPosition < sectionTop + sectionHeight + offset) {
                // Remove 'is-active' class from all navbar list items
                document.querySelectorAll('#tabScrollNav li').forEach(li => {
                    li.classList.remove('is-active');
                });

                // Add 'is-active' class to the parent <li> of the current navbar link
                const activeLink = document.querySelector(`#tabScrollNav a[href="#${sectionId}"]`);
                if (activeLink) {
                    activeLink.parentElement.classList.add('is-active');
                }
            }
        });
    };

    const handleScroll = () => {
        if (window.scrollY > offsetTop) {
            navbar.classList.add('is-fixed-top');
            document.body.style.paddingTop = '160px';
        } else {
            navbar.classList.remove('is-fixed-top');
            document.body.style.paddingTop = null;
        }
        setActiveLink();
    };

    // Add event listener for scroll with debounce
    //window.addEventListener('scroll', debounce(setActiveLink, 100));
    window.addEventListener('scroll', debounce(handleScroll, 10));

    // Call the function initially to set the correct active link on page load
    //setActiveLink();
    handleScroll();

    ///////////////////////////////////////////////////////////////////////////////////


    ///////////////////////////////Modal for Larger images//////////////////////////////
    const imageUrls = "{{competition.imagePath}},{{competition.additionalImagePaths}}";
    const images = imageUrls.split(',');
    const imageArray = images;

    let currentIndex = 0;

    const modal = document.getElementById('imageModal');
    const modalImage = document.getElementById('modalImage');
    const leftButton = document.getElementById('leftImageModalBtn');
    const rightButton = document.getElementById('rightImageModalBtn');
    const imageCounter = document.getElementById('imageCounter');
    const compImages = document.querySelectorAll('.compImage');

    const updateImage = () => {
        modalImage.src = imageArray[currentIndex];
        imageCounter.textContent = `Image ${currentIndex + 1} of ${imageArray.length}`;
    };

    function openModal(index) {
        currentIndex = index;
        modal.classList.add('is-active');
        updateImage();
    }

    compImages.forEach((image, index) => {
        image.addEventListener('click', () => {
            //currentIndex = index;
            openModal(index);
        });
    });

    leftButton.addEventListener('click', () => {
        currentIndex = (currentIndex - 1 + imageArray.length) % imageArray.length;
        updateImage();
    });

    rightButton.addEventListener('click', () => {
        currentIndex = (currentIndex + 1) % imageArray.length;
        updateImage();
    });

    updateImage();
    updateTicketCount();
});
</script>