
{{#if areCompetitions}}
    {{#checkVisible competitions}}
        {{#if hasVisible}}                     
            <div id="homeBannerContainer" class="homeBannerContainer">

                <button id="leftButton" class="homeBannerNavButton left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button id="rightButton" class="homeBannerNavButton right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                <a id="homeBannerLink" class="homeBannerLink">
                    <div class="homeBannerOverlay">
                        <h1 id="homeBannerTitle" class="title is-2 has-text-white-ter">Win This ...</h1>
                        <p id="homeBannerDrawDate" class="subtitle is-4 has-text-grey-light">Draw ...</p>
                        <button id="homeBannerEnterButton" class="button is-primary is-medium">
                            <span>Enter Now</span>
                            <span class="icon">
                                <i class="fa-solid fa-ticket"></i>
                            </span>
                        </button>
                        
                    </div>
                </a>    
            </div>
        {{/if}}
    {{/checkVisible}}
{{/if}}

<section class="hero is-dark py-2">
    <nav class="level">
        <div class="level-left">
            <div class="level-item has-text-centered px-6">
                <p class="subtitle is-2 is-link">
                <i class="fa-solid fa-trophy px-2"></i>
                <div>
                    <p class="title">10</p>
                    <p class="heading">Prizes Won</p>
                </div>
                </p>
            </div>

            <div class="level-item has-text-centered px-6">
                <p class="subtitle is-2">
                <i class="fa-solid fa-gift px-2"></i>
                <div>
                    <p class="title">£1000</p>
                    <p class="heading">Given in Prizes</p>
                </div>
                </p>
            </div>
        </div>

        <div class="level-right">
            <div class="level-item has-text-centered px-6">
                <p class="subtitle is-2">
                <i class="fa-solid fa-star px-2"></i>
                <div>
                    <p class="title">4.0</p>
                    <p class="heading">Rating | 25 Reviews</p>
                </div>
                </p>
            </div>
        </div>
    </nav>
</section>

{{#if areCompetitions}}
    {{#checkVisible competitions}}
        {{#if hasVisible}}  
            <section class="hero">
                <div class="hero-body">
                    <p class="title has-text-centered is-uppercase">Current Competitions</p>
                </div>
            </section>
        {{else}}
            <section class="hero">
                <div class="hero-body">
                    <p class="title has-text-centered is-uppercase">Check back later for more competitions!</p>
                </div>
            </section>     
                
            <div class="container is-max-fullhd">
                <div class="columns is-multiline">
                    <div class="column"></div>
                    <div class="column is-half">    
                        <div class="field" style="margin-bottom: 100px">
                            <label class="label">Sign up for alerts when new competitions are added!</label>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input class="input" type="email" placeholder="Email Address">
                                    </div>
                                    <div class="control">
                                        <button class="button is-primary">Sign Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="column"></div>
                </div>
            </div>            
        {{/if}}
    {{/checkVisible}}
{{/if}}

<div class="container">
    <div class="columns is-multiline is-vcentered is-mobile is-flex is-justify-content-center">
        {{# each competitions}}
            {{#if this.visible}}
                <!-- Competition Column -->
                <div class="column is-half-mobile is-one-third-tablet is-4-desktop is-3-fullhd has-text-centered">
                    <a href="/competition/{{this.id}}" class="is-link">
                        <div class="card" style="">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                <img
                                    src="{{this.imagePath}}"
                                    alt="Competition Image"
                                />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content" style="min-height: 100px;">
                                    <p class="title is-4">Win this {{this.title}}</p>
                                    <p class="subtitle is-6">{{#if this.cashAlternative}}Cash Alternative: £{{this.cashAlternative}}{{/if}}</p>
                                </div>
                                <div class="content" style="">
                                    <div style="">
                                        {{#if this.discountPrice}}
                                            <p class="subtitle is-6 has-text-primary"><s>£{{formatPrice price}}</s></p>
                                            <p class="title is-2 has-text-primary">£{{formatPrice discountPrice}}</p>
                                        {{else}}
                                            <p class="title is-1 has-text-primary">£{{formatPrice price}}</p>
                                        {{/if}}
                                    </div>
                                    <div class="mt-5">
                                        <p class="subtitle is-6 has-text-left">Sold: {{getPercentage currentEntries pendingEntries maxEntries}}%</p>
                                        <progress class="progress is-info" value="{{calculateCompTotalEntries this.currentEntries this.pendingEntries}}" max="{{this.maxEntries}}"></progress>
                                        {{#if this.active}}
                                            {{#ifCompClosed this.entryCloseDate}}
                                                <button class="button is-medium is-fullwidth is-primary">
                                                    <span>View Competition</span>
                                                    <span class="icon">
                                                        <i class="fa-solid fa-dice"></i>
                                                    </span>
                                                </button>
                                            {{else}}
                                                <button class="button is-medium is-fullwidth is-primary">
                                                    <span>Enter Now</span>                                                    
                                                    <span class="icon">
                                                        <i class="fa-solid fa-ticket"></i>
                                                    </span>
                                                </button>
                                            {{/ifCompClosed}}
                                        {{else}}
                                            <button class="button is-medium is-fullwidth is-primary">
                                                <span>View Competition</span>
                                                <span class="icon">
                                                    <i class="fa-solid fa-dice"></i>
                                                </span>
                                            </button>
                                        {{/if}}
                                        <p><time datetime="2024-06-02 19:00">Draw {{formatDateCompCard this.drawDate}}</time></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>


<section class="hero is-link mt-6">
    <div class="hero-body">
        <div class="container is-max-fullhd">
            <p class="title is-uppercase has-text-centered">Why Choose Us?</p>
            <div class="columns is-vcentered">
                <div class="column">
                    <div class="has-text-centered">
                        <span class="icon fas fa-2x mb-3">
                            <i class="fa-solid fa-dice"></i>
                        </span>
                        <br />
                        <div>
                            <p class="title is-4">Great Odds</p>
                            <p class="subtitle is-6">Limited tickets in each draw</p>
                        </div>
                    </div>
                </div>  
                <div class="column">
                    <div class="has-text-centered">
                        <span class="icon fas fa-2x mb-3">
                            <i class="fa-solid fa-magnifying-glass-chart"></i>
                        </span>
                        <br />
                        <div>
                            <p class="title is-4">Transparent</p>
                            <p class="subtitle is-6">We show the number of entries in every draw</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-centered">
                        <span class="icon fas fa-2x mb-3">
                            <i class="fa-solid fa-trophy"></i>
                        </span>
                        <br />
                        <div>
                            <p class="title is-4" >Guaranteed</p>
                            <p class="subtitle is-6">Guaranteed winner even if we don't sell out</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container is-max-fullhd">
            <p class="title is-uppercase has-text-centered">How to Play</p>
            <div class="columns is-vcentered is-max-desktop">
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-gift"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 1</p>
                            <p class="title is-5">Select your prize and entries</p>
                        </div>
                    </div>
                </div>  
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-comment-dots"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 2</p>
                            <p class="title is-5">Answer the question correctly</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-microphone"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 3</p>
                            <p class="title is-5">Winner announced on Live Draw</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container block is-max-widescreen">
            <p class="title is-uppercase">Meet our previous winners</p>
            <div class="columns is-vcentered is-flex is-justify-content-center">

                {{# each winners}}
                    {{#if this.visible}}
                        <!-- Column 1 -->
                        <div class="column is-4 has-text-centered">
                            <a href="/winner/{{this.id}}" class="is-link">
                                <div class="card">
                                    <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img
                                        src="{{this.imagePath}}"
                                        alt="Winner Image"
                                        />
                                    </figure>
                                    </div>
                                    <div class="card-content">
                                        <div style="min-height: 120px">
                                            <p class="title is-4">{{this.title}}</p>
                                            <p class="subtitle is-6">{{this.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>

        <div class="has-text-centered">
            <a href="/winners" class="button is-link">
                <span>View All Winners</span>
                <span class="icon is-small">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>
    </div>
</section>

{{> payIcons}}


<script>
    const homeBannerImages = [
    {{# each competitions}}
        {{#if this.visible}}
            '{{this.imagePath}}',
        {{/if}}
    {{/each}}
    ];

    const homeBannerTitles = [
    {{# each competitions}}
        {{#if this.visible}}
            'Win This {{this.title}}!',
        {{/if}}
    {{/each}}
    ];

    const homeBannerDrawTimes = [
    {{# each competitions}}
        {{#if this.visible}}
            'Draw {{formatDateCompCard this.drawDate}}',
        {{/if}}
    {{/each}}
    ];

    const homeBannerButtonLinks = [
    {{# each competitions}}
        {{#if this.visible}}
            '/competition/{{this.id}}',
        {{/if}}
    {{/each}}
    ];

    const homeBannerButtonTexts = [
    {{# each competitions}}
        {{#if this.visible}}
            {{#if this.active}}
                {{#ifCompClosed this.entryCloseDate}}
                    '<span>View Competition</span><span class="icon"><i class="fa-solid fa-trophy"></i></span>',
                {{else}}
                    '<span>Enter Now</span><span class="icon"><i class="fa-solid fa-ticket"></i></span>',
                {{/ifCompClosed}}
            {{else}}
                '<span>View Competition</span><span class="icon"><i class="fa-solid fa-trophy"></i></span>',
            {{/if}}
        {{/if}}
    {{/each}}
    ];

    let currentHomeBannerIndex = 0;
    let intervalId;

    const homeBannerContainer = document.getElementById('homeBannerContainer');
    const leftButton = document.getElementById('leftButton');
    const rightButton = document.getElementById('rightButton');
    const homeBannerTitle = document.getElementById('homeBannerTitle');
    const homeBannerDrawDate = document.getElementById('homeBannerDrawDate');
    const homeBannerEnterButton = document.getElementById('homeBannerEnterButton');
    const homeBannerLink = document.getElementById('homeBannerLink');

    function updateContent() {
        homeBannerContainer.style.backgroundImage = `url('${homeBannerImages[currentHomeBannerIndex]}')`;
        homeBannerTitle.innerText = homeBannerTitles[currentHomeBannerIndex];
        homeBannerDrawDate.innerText = homeBannerDrawTimes[currentHomeBannerIndex];
        homeBannerLink.href = homeBannerButtonLinks[currentHomeBannerIndex];
        homeBannerEnterButton.innerHTML = homeBannerButtonTexts[currentHomeBannerIndex];
    }

    function fadeContentOut() {
        homeBannerContainer.classList.add('fade-out');
        homeBannerTitle.classList.add('fade-out');
        homeBannerDrawDate.classList.add('fade-out');
    }

    function fadeContentIn() {
        homeBannerContainer.classList.remove('fade-out');
        homeBannerTitle.classList.remove('fade-out');
        homeBannerDrawDate.classList.remove('fade-out');
        homeBannerContainer.classList.add('fade-in');
        homeBannerTitle.classList.add('fade-in');
        homeBannerDrawDate.classList.add('fade-in');
    }

    function changeContent() {
        fadeContentOut();
        setTimeout(() => {
            currentHomeBannerIndex = (currentHomeBannerIndex === homeBannerImages.length - 1) ? 0 : currentHomeBannerIndex + 1;
            updateContent();
            fadeContentIn();
        }, 100); // Match this duration to the CSS transition duration
    }

    function startInterval() {
        intervalId = setInterval(changeContent, 8000);
    }

    leftButton.addEventListener('click', () => {
        clearInterval(intervalId);
        fadeContentOut();
        setTimeout(() => {
            currentHomeBannerIndex = (currentHomeBannerIndex === 0) ? homeBannerImages.length - 1 : currentHomeBannerIndex - 1;
            updateContent();
            fadeContentIn();
            startInterval();
        }, 100); // Match this duration to the CSS transition duration
    });

    rightButton.addEventListener('click', () => {
        clearInterval(intervalId);
        fadeContentOut();
        setTimeout(() => {
            currentHomeBannerIndex = (currentHomeBannerIndex === homeBannerImages.length - 1) ? 0 : currentHomeBannerIndex + 1;
            updateContent();
            fadeContentIn();
            startInterval();
        }, 100); // Match this duration to the CSS transition duration
    });

    // Initialise with the first image
    updateContent();
    fadeContentIn();
    startInterval();

</script>