
<figure class="image is-6by3">
  <img
        src="/images/rs5.jpg"
        alt="Headline Prize"
  />
</figure>

<section class="hero is-dark py-2">
    <nav class="level">
        <div class="level-left">
            <div class="level-item has-text-centered px-6">
                <p class="subtitle is-2 is-link">
                <i class="fa-solid fa-trophy px-2"></i>
                <div>
                    <p class="title">10</p>
                    <p class="heading">Prizes Won</p>
                </div>
                </p>
            </div>

            <div class="level-item has-text-centered px-6">
                <p class="subtitle is-2">
                <i class="fa-solid fa-gift px-2"></i>
                <div>
                    <p class="title">£1000</p>
                    <p class="heading">Given in Prizes</p>
                </div>
                </p>
            </div>
        </div>

        <div class="level-right">
            <div class="level-item has-text-centered px-6">
                <p class="subtitle is-2">
                <i class="fa-solid fa-star px-2"></i>
                <div>
                    <p class="title">4.0</p>
                    <p class="heading">Rating | 25 Reviews</p>
                </div>
                </p>
            </div>
        </div>
    </nav>
</section>

{{#if areCompetitions}}
<section class="hero">
    <div class="hero-body">
        <p class="title has-text-centered is-uppercase">Upcoming Competitions</p>
    </div>
</section>       
{{else}}
<section class="hero">
    <div class="hero-body">
        <p class="title has-text-centered is-uppercase">Check back later for more competitions!</p>
    </div>
</section>     
    
<div class="container is-max-fullhd">
    <div class="columns is-multiline">
        <div class="column"></div>
        <div class="column is-half">    
            <div class="field" style="margin-bottom: 100px">
                <label class="label">Sign up to alerts when new competitions are added!</label>
                <div class="field-body">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="email" placeholder="Email Address">
                        </div>
                        <div class="control">
                            <button class="button is-primary">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column"></div>
    </div>
</div>            
{{/if}}

<div class="container">
    <div class="columns is-multiline">
        {{# each competitions}}
            <!-- Competition Column -->
            <div class="column is-6 is-3-fullhd is-4-widescreen is-4-desktop is-6-tablet is-6-mobile">
                <a href="/competition/{{this.id}}" class="is-link">
                    <div class="card" style="">
                        <div class="card-image">
                            <figure class="image is-4by3">
                            <img
                                src="{{this.imagePath}}"
                                alt="Competition Image"
                            />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="height: 100px;">
                                <p class="title is-4">Win this {{this.title}}</p>
                                <p class="subtitle is-6">Cash Alternative: £{{this.cashAlternative}}</p>
                            </div>
                            <div class="content" style="">
                                <div style="">
                                    <p class="title is-1 has-text-primary">£{{formatPrice price}}</p>
                                </div>
                                <div style="margin-top: 30px">
                                    <p class="subtitle is-6 has-text-left">Sold: {{getPercentage currentEntries maxEntries}}%</p>
                                    <progress class="progress is-info" value="{{this.currentEntries}}" max="{{this.maxEntries}}"></progress>
                                    <button class="button is-medium is-fullwidth is-primary">Enter Now</button>
                                    <p><time datetime="2024-06-02 19:00">Draw {{formatDateCompCard this.drawDate}}</time></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>

<section class="hero is-link mt-6">
    <div class="hero-body">
        <div class="container is-max-fullhd">
            <p class="title is-uppercase has-text-centered">Why Choose Us?</p>
            <div class="columns is-vcentered">
                <div class="column">
                    <div class="has-text-centered">
                        <span class="icon fas fa-2x mb-3">
                            <i class="fa-solid fa-dice"></i>
                        </span>
                        <br />
                        <div>
                            <p class="title is-4">Great Odds</p>
                            <p class="subtitle is-6">Limited tickets in each draw</p>
                        </div>
                    </div>
                </div>  
                <div class="column">
                    <div class="has-text-centered">
                        <span class="icon fas fa-2x mb-3">
                            <i class="fa-solid fa-magnifying-glass-chart"></i>
                        </span>
                        <br />
                        <div>
                            <p class="title is-4">Transparent</p>
                            <p class="subtitle is-6">We show the number of entries in every draw</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-centered">
                        <span class="icon fas fa-2x mb-3">
                            <i class="fa-solid fa-trophy"></i>
                        </span>
                        <br />
                        <div>
                            <p class="title is-4" >Guaranteed</p>
                            <p class="subtitle is-6">Guaranteed winner even if we don't sell out</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container is-max-fullhd">
            <p class="title is-uppercase has-text-centered">How to Play</p>
            <div class="columns is-vcentered is-max-desktop">
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-gift"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 1</p>
                            <p class="title is-5">Select your prize and entries</p>
                        </div>
                    </div>
                </div>  
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-comment-dots"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 2</p>
                            <p class="title is-5">Answer the question correctly</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="media">
                        <div class="media-left is-large py-1">
                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-microphone"></i></span>
                        </div>
                        <div class="media-content py-1">
                            <p class="subtitle is-6">Step 3</p>
                            <p class="title is-5">Winner announced on Live Draw</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hero">
    <div class="hero-body">
        <div class="container block is-max-widescreen">
            <p class="title is-uppercase">Meet our previous winners</p>
            <div class="columns is-vcentered">

                <!-- Column 1 -->
                <div class="column has-text-centered">
                    <a href="/winner" class="is-link">
                        <div class="card">
                            <div class="card-image">
                            <figure class="image is-4by3">
                                <img
                                src="https://bulma.io/assets/images/placeholders/256x256.png"
                                alt="Placeholder image"
                                />
                            </figure>
                            </div>
                            <div class="card-content">
                                <div style="height: 120px">
                                    <p class="title is-4">Michael Won This BMW S1000RR!</p>
                                    <p class="subtitle is-6">Winning ticket - #6036! Draw date: 21/04/2024</p>
                                </div>
                            </div>
                        </div>
                    </a>    
                </div>

                <!-- Column 2 -->
                <div class="column has-text-centered">
                    <a href="/winner" class="is-link">
                        <div class="card">
                            <div class="card-image">
                            <figure class="image is-4by3">
                                <img
                                src="https://bulma.io/assets/images/placeholders/256x256.png"
                                alt="Placeholder image"
                                />
                            </figure>
                            </div>
                            <div class="card-content">
                                <div style="height: 120px">
                                    <p class="title is-4">Michael Won This BMW S1000RR!</p>
                                    <p class="subtitle is-6">Winning ticket - #6036! Draw date: 21/04/2024</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- Column 3 -->
                <div class="column has-text-centered">
                    <a href="/winner" class="is-link">
                        <div class="card">
                            <div class="card-image">
                            <figure class="image is-4by3">
                                <img
                                src="https://bulma.io/assets/images/placeholders/256x256.png"
                                alt="Placeholder image"
                                />
                            </figure>
                            </div>
                            <div class="card-content">
                                <div style="height: 120px">
                                    <p class="title is-4">Michael Won This BMW S1000RR!</p>
                                    <p class="subtitle is-6">Winning ticket - #6036! Draw date: 21/04/2024</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="has-text-centered">
            <a href="/winners" class="button is-link">
                <span>View All Winners</span>
                <span class="icon is-small">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </a>
        </div>
    </div>
</section>

{{> payIcons}}

