<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">Order Accepted</p>
  </div>
</section>

<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title has-text-centered">Thank you!</h1>
        <div class="is-flex is-justify-content-center">
            <button class="button is-static">Order ID: {{order._id}}</button>
        </div>
    </div>
    <h2 class="title is-6">Competitions</h2>
    <hr />
    <section class="hero">
        <div class="hero-body">

            <div class="container is-max-widescreen">

                {{# each order.basket}}
                    <div class="columns is-vcentered is-mobile is-multiline">
                        <div class="column is-9">
                            <div class="columns">
                                <div class="column">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                            <img
                                                src="{{this.item.imagePath}}" 
                                                alt="Placeholder image"
                                            />
                                            </figure>
                                        </div>
                                        <div class="media-content py-1">
                                            <p class="title is-6"><a href="/competition/{{this.item._id}}"><span class="subtitle is-6"> Win this {{this.item.title}}!</a></span> x {{this.qty}}</p>
                                            <p class="subtitle is-6"><strong>Answer:</strong> {{this.questionAnswer}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="columns is-mobile">
                                <div class="column is-flex is-justify-content-right is-align-items-right">
                                    <p class="subtitle is-6"><strong>£{{this.itemTotalPrice}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <p class="subtitle is-6"><strong>Ticket Number(s):</strong> {{formatTicketNumberOutput this.ticketNumbers}}.</p>
                        </div>
                    </div> 
                    <hr />
                {{/each}}
            </div>
        </div>
    </section>
    
    <hr />
    <div class="container px-3">
        <p class="subtitle is-6 is-pulled-left"><strong>Subtotal:</strong></p>
        <p class="subtitle is-6 is-pulled-right"><strong>£{{order.paymentSubtotalPrice}}</strong></p>
    </div>
    <br />
    <hr />

    {{#ifNotEquals order.paymentSubtotalPrice order.paymentPrice}}
        <div class="container">
            <p class="subtitle is-6"><strong>Discount(s):</strong></p>
            <div class="content">
                {{#each order.couponCodeUsed}}
                    <p>
                        <span class="tag is-medium is-info">
                            {{this.couponCode}}
                        </span> {{this.couponDescription}}
                    </p>
                {{/each}}
            </div>    
        </div>
        <br />
        <hr />
    {{/ifNotEquals}}

    <div class="container px-3">
        <p class="subtitle is-6 is-pulled-left"><strong>Payment method:</strong></p>
        <p class="subtitle is-6 is-pulled-right"><strong>{{order.paymentMethod}}</strong></p>
    </div>
    <br />
    <hr />

    <div class="container px-3">
        <p class="subtitle is-6 is-pulled-left"><strong>Total</strong></p>
        <p class="subtitle is-6 is-pulled-right"><strong>£{{order.paymentPrice}}</strong></p>
    </div>
    <br />
    <hr />

    <div class="container is-flex is-justify-content-center is-align-items-center is-spaced">
        <p><a href="/" class="button is-medium is-primary">Return to Homepage</a></p>
    </div>
    <div class="container is-flex is-justify-content-center is-align-items-center my-4">
        <p><a href="/user" class="button is-medium is-info">View my Competition Entries</a></p>
    </div>
    

</div>