<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <p class="title">My Account</p>
  </div>
</section>
    
{{> userNav}}




<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title">Competition Entries</h1>
    </div>
    <div class="tabs-wrapper">
        <div class="tabs is-centered mt-6 is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Current</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Past</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline">
                        {{#if hasCompetitions}}
                            {{#checkCurrentTickets competitions}}
                                {{#each competitions}}
                                    {{#ifDateInPast this.competitionDrawDate}}
                                        <div class="column is-one-third">
                                            <div class="notification">
                                                <div class="has-text-centered">
                                                    <div>
                                                        <p class="title is-6" style="height: 50px">Win this {{this.competitionTitle}}!</p>
                                                        <p class="subtitle is-6"><strong>Draw Date:</strong> {{formatDate this.competitionDrawDate}}</p>
                                                        <p class="subtitle is-6">You have<strong> {{this.ticketQty}} </strong>tickets</p>
                                                        <p class="subtitle is-6">Answer: <strong> {{this.compAnswer}} </strong></p>
                                                        <button onclick="toggleElement('comp_{{this._id}}')" class="button is-medium is-fullwidth is-link">
                                                            <span class="icon">
                                                                <i class="fa-solid fa-ticket"></i>
                                                            </span>
                                                            <span>View Ticket Numbers</span>
                                                        </button>
                                                        <br />
                                                        <p id="comp_{{this._id}}" class="notification" style="display:none">
                                                            {{# each this.ticketNumbersObjects}}
                                                                <a href="/user/viewOrder/{{this.orderID}}">{{this.ticketNumber}}</a>
                                                            {{/each}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    {{else}}
                                    {{/ifDateInPast}}
                                {{/each}}
                                {{#unless hasCurrentTickets}}
                                    <div class="column is-full">
                                        <div class="notification">
                                            <p>No current competition entries to show.</p>
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/checkCurrentTickets}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No competitions to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
                <li>
                    <div class="columns is-multiline">
                        {{#if hasCompetitions}}
                            {{#checkPastTickets competitions}}
                                {{#each competitions}}
                                    {{#ifDateInPast this.competitionDrawDate}}
                                    {{else}}
                                        <div class="column is-one-third">
                                            <div class="notification">
                                                <div class="has-text-centered">
                                                    <div>
                                                        <p class="title is-6" style="height: 50px">Win this {{this.competitionTitle}}!</p>
                                                        <p class="subtitle is-6"><strong>Draw Date:</strong> {{formatDate this.competitionDrawDate}}</p>
                                                        <p class="subtitle is-6">You have<strong> {{this.ticketQty}} </strong>tickets</p>
                                                        <p class="subtitle is-6">Answer: <strong> {{this.compAnswer}} </strong></p>
                                                        <button onclick="toggleElement('comp_{{this._id}}')" class="button is-medium is-fullwidth is-link">
                                                            <span class="icon">
                                                                <i class="fa-solid fa-ticket"></i>
                                                            </span>
                                                            <span>View Ticket Numbers</span>
                                                        </button>
                                                        <br />
                                                        <p id="comp_{{this._id}}" class="notification" style="display:none">
                                                            {{# each this.ticketNumbersObjects}}
                                                                <a href="/user/viewOrder/{{this.orderID}}">{{this.ticketNumber}}</a>
                                                            {{/each}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    {{/ifDateInPast}}    
                                {{/each}}
                                {{#unless hasPastTickets}}
                                    <div class="column is-full">
                                        <div class="notification">
                                            <p>No past competition entries to show.</p>
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/checkPastTickets}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No competitions to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <hr></hr>
    <div class="content my-6">
        <h1 class="title">My Orders</h1>
    </div>
    {{#if hasOrders}}
        {{#each orders}}
            <div class="container notification">
                <div class="columns is-vcentered">
                    <div class="column is-3">
                        <p class="title is-6">Date</p>
                        <p class="subtitle is-6">{{formatDate this.created}}</p>
                    </div>
                    <div class="column is-3">
                        <p class="title is-6">Payment Price</p>
                        <p class="subtitle is-6">£{{this.paymentPrice}}</p>
                    </div>
                    <div class="column is-3">
                        <p class="title is-6">Order Status</p>
                        <p class="subtitle is-6">{{this.orderStatus}}</p>
                    </div>
                    <div class="column is-1">
                    </div>
                    <div class="column is-2">
                        <a href="/user/viewOrder/{{this.id}}" class="button is-link">
                            <span class="icon is-small">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </span>
                            <span>View Order</span>
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="column is-full">
            <div class="notification">
                <p>No orders to show.</p>
            </div>
        </div>
    {{/if}}
</div>


