<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <p class="title">My Account</p>
  </div>
</section>
    
{{> userNav}}




<div class="container is-max-widescreen">
    <div class="content my-6">
        <h1 class="title">Competition Entries</h1>
    </div>
    <div class="tabs-wrapper">
        <div class="tabs is-centered mt-6 is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Current</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Past</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline">
                        {{#if hasCompetitions}}
                            {{# each competitions}}
                                {{# each this.basket}}
                                    {{#ifDateInPast this.item.drawDate}}
                                        <div class="column is-one-third">
                                            <div class="box">
                                                <div class="has-text-centered">
                                                    <div>
                                                        <p class="title is-6" style="height: 50px">Win this {{this.item.title}}!</p>
                                                        <p class="subtitle is-6"><strong>Draw Date:</strong> {{formatDate this.item.drawDate}}</p>
                                                        <p class="subtitle is-6">You have<strong> {{this.qty}} </strong>tickets</p>
                                                        <p class="subtitle is-6">Answer: <strong> {{this.questionAnswer}} </strong></p>
                                                        <button onclick="toggleElement('comp_{{this.uniqueID}}')" class="button is-medium is-fullwidth is-link">View Ticket Numbers</button>
                                                        <br />
                                                        <p id="comp_{{this.uniqueID}}" class="notification" style="display:none">{{this.ticketNumbers}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    {{else}}
                                    {{/ifDateInPast}}
                                {{/each}}
                            {{/each}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No current competition entries to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
                <li>
                    <div class="columns is-multiline">
                        {{#if hasCompetitions}}
                            {{# each competitions}}
                                {{# each this.basket}}
                                    {{#ifDateInPast this.item.drawDate}}
                                    {{else}}
                                        <div class="column is-one-third">
                                            <div class="box">
                                                <div class="has-text-centered">
                                                    <div>
                                                        <p class="title is-6" style="height: 50px">Win this {{this.item.title}}!</p>
                                                        <p class="subtitle is-6"><strong>Draw Date:</strong> {{formatDate this.item.drawDate}}</p>
                                                        <p class="subtitle is-6">You have<strong> {{this.qty}} </strong>tickets</p>
                                                        <p class="subtitle is-6">Answer: <strong> {{this.questionAnswer}} </strong></p>
                                                        <button onclick="toggleElement('comp_{{this.uniqueID}}')" class="button is-medium is-fullwidth is-link">View Ticket Numbers</button>
                                                        <br />
                                                        <p id="comp_{{this.uniqueID}}" class="notification" style="display:none">61469, 77048, 68049, 02551, 24551, 71252, 91010, 80851, 17251, 13489, 71525, 45160, 96716, 5632</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    {{/ifDateInPast}}
                                {{/each}}
                            {{/each}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No past competition entries to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


