<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <p class="title">Rewards</p>
  </div>
</section>

{{> userNav}}

<div class="container is-max-fullhd">
    <section class="section">
        <h2 class="title">
            My Rewards
        </h2>
        <h2 class="subtitle">
            Earn rewards the more you play and for referring friends!
        </h2>
    </section>



    <div class="columns is-multiline is-vcentered">
        <div class="column is-full">
            <article class="message">
                <div class="message-body">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left py-1">
                                <span class="icon is-large fas fa-2x"><i class="fa-solid fa-sterling-sign"></i></span>
                            </div>
                            <div class="media-content py-1">
                                <p class="title is-3">Account Credit</p>
                                <p class="subtitle is-6">£{{formatCurrency user.accountCredit}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="column is-half">
            <article class="message">
                <div class="message-body">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left is-large py-1">
                                <span class="icon is-large fas fa-2x"><i class="fa-solid fa-coins"></i></span>
                            </div>
                            <div class="media-contentpy-1">
                                <p class="title is-3">Points: {{user.rewardPoints}}</p>
                                <p class="subtitle is-6">Equals 0.5 GBP</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="column is-half">
            <article class="message">
                <div class="message-body">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left py-1">
                                <span class="icon is-large fas fa-2x"><i class="fa-solid fa-medal"></i></span>
                            </div>
                            <div class="media-content py-1">
                                <p class="title is-3">{{user.rewardLevel}}</p>
                                <p class="subtitle is-6">655 Points to Silver</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Earn</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p class="title is-6">Cashback</p>
                        <p class="subtitle is-6">Earn 3 Points for every 1 GBP spent.</p>
                        <hr />
                        <p class="title is-6">Challenge Board</p>
                        <p class="subtitle is-6">Collect badges and get rewarded</p>
                    </div>
                    
                    <div class="columns is-multiline is-mobile is-flex is-justify-content-center is-vcentered">
                        {{#if hasUserChallenges}}
                            {{#each userChallenges}}
                                {{#if this.active}}
                                    <!-- Competition Column -->
                                    <div class="column is-half-mobile is-half-tablet is-half-desktop is-4-fullhd has-text-centered">
                                        <div class="notification">
                                            <div class="has-text-centered">
                                                <span class="icon fas fa-2x mb-3">
                                                    <i class="{{this.icon}}"></i>
                                                </span>
                                                <br />
                                                <div class="" style="min-height:160px">
                                                    <p class="title is-5">{{this.title}}</p>
                                                    <p class="subtitle is-6 is-spaced">{{this.description}}</p>
                                                </div>
                                                <div style="min-height:80px">
                                                    {{#if this.accountCredit}}
                                                        <p class="title is-5">Account Credit: £{{this.accountCredit}}</p>
                                                    {{/if}}
                                                    {{#if this.voucherDescription}}
                                                        <p class="title is-5">{{this.voucherDescription}} Voucher</p>
                                                    {{/if}}
                                                    {{#ifGreaterThan0 this.points}}
                                                        <p class="subtitle is-7">{{this.points}} Points</p>
                                                    {{/ifGreaterThan0}}
                                                </div>
                                                {{#isCompletedChallenge this._id ../user.completedChallenges}}
                                                    <span class="icon fa-2x has-text-success">
                                                        <i class="fa-solid fa-circle-check"></i>
                                                    </span>
                                                {{else}}
                                                    <span class="icon fa-2x">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                {{/isCompletedChallenge}}
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}    
                            {{/each}}
                        {{else}}
                            <div class="column is-full">
                                <div class="notification">
                                    <p>No user challenges to show.</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Redeem</p>
                </header>
                <div class="tabs-wrapper">
                    <div class="tabs is-centered is-boxed">
                        <ul>
                            <li >
                                <a>
                                    <span>Redeem</span>
                                </a>
                            </li>
                            <li class="is-active">
                                <a>
                                    <span>Coupons</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div class="tabs-content">
                            <ul>
                                <li >
                                    <p class="title is-6">Create Discount Coupon</p>
                                    <hr />
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="icon is-large fas fa-2x"><i class="fa-solid fa-sack-dollar"></i></span>
                                        </div>
                                        <div class="media-content py-1">
                                            <p class="title is-6">Your point balance is {{user.rewardPoints}}</p>
                                            <p class="subtitle is-6">The minimum amount to be redeemed is 100 Points.</p>
                                        </div>
                                    </div>
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input" type="text" placeholder="Amount to Redeem" value="{{user.rewardPoints}}">
                                        </div>
                                        <div class="control">
                                            <button class="button is-link is-fullwidth">Redeem</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="is-active">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="card">
                                                <header class="card-header">
                                                    <p class="card-header-title">10.74 GBP Coupon</p>
                                                </header>
                                                <div class="card-content">
                                                    <div class="has-text-centered">
                                                        <span class="icon fas fa-2x">
                                                            <i class="fa-solid fa-sack-dollar"></i>
                                                        </span>
                                                        <br />
                                                        <p>Not Yet Redeemed</p>
                                                        <time datetime="2024-04-22">Created on 2024-04-22</time>
                                                        <br />
                                                        <div class="field has-addons mt-3">
                                                            <p class="control">
                                                                <input class="input is-small" type="text" value="DDrLhu1MIu" readonly>
                                                            </p>
                                                            <p class="control">
                                                                <span class="button">
                                                                    <i class="fa-solid fa-copy"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <footer class="card-footer">
                                                    <a href="#" class="button card-footer-item is-link">Apply Coupon</a>
                                                </footer>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="card">
                                                <header class="card-header">
                                                    <p class="card-header-title">15.77 GBP Coupon</p>
                                                </header>
                                                <div class="card-content">
                                                    <div class="has-text-centered">
                                                        <span class="icon fas fa-2x">
                                                            <i class="fa-solid fa-circle-check"></i>
                                                        </span>
                                                        <br />
                                                        <p>Redeemed</p>
                                                        <time datetime="2024-04-22">Created on 2023-12-09</time>
                                                        <br />
                                                        <div class="field has-addons mt-3">
                                                            <p class="control">
                                                                <input class="input is-small" type="text" value="ulQkpwUzLf" readonly>
                                                            </p>
                                                            <p class="control">
                                                                <span class="button">
                                                                    <i class="fa-solid fa-copy"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <footer class="card-footer">
                                                    <a href="#" class="button card-footer-item is-static" disabled>Apply Coupon</a>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <hr></hr>

    <section class="section">
        <h2 class="title">
            Referrals
        </h2>
        <h2 class="subtitle">
            Thank you for spreading the word! Every time you refer someone, you earn points towards rewards.
        </h2>
    </section>

    <div class="mx-3">
        <div class="container is-max-widescreen">
            <p class="subtitle"> People you've signed up: {{user.usersReferred}}</p> 

            <p>Your Referral Code:</p>
            <p id="referralCopied" class="is-success" style="display: none;">Your referral code has been copied to clipboard!</p>
            <div class="field has-addons mt-3">
                <p class="control is-expanded">
                    <input id="referralCodeText" class="input is-success" type="text" value="{{user.referralCode}}" readonly>
                </p>
                <p class="control" onclick="copyShareLink('referral')">
                    <span class="button is-medium is-success">
                        <i class="fa-solid fa-copy"></i>
                    </span>
                </p>
            </div>

            <div class="buttons">
                <button class="button is-link" onclick="copyShareLink('link')">
                    <span class="icon is-small">
                        <i class="fa-solid fa-copy"></i>
                    </span>
                    <span>Copy Direct Link</span>
                </button>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/register/{{user.referralCode}}" target="_blank" class="button is-facebook">
                    <span class="icon is-small">
                        <i class="fa-brands fa-square-facebook"></i>
                    </span>
                    <span>Facebook</span>
                </a>
                <a href="https://twitter.com/share?url=http://localhost:3000/register/{{user.referralCode}}&text=Sign Up to [website] with my referral {{user.referralCode}}!" target="_blank" class="button is-info">
                    <span class="icon is-small">
                        <i class="fa-brands fa-square-twitter"></i>
                    </span>
                    <span>Twitter</span>
                </a>
                <a href="https://api.whatsapp.com/send?text=Sign Up to [website] with my referral {{user.referralCode}}! http://localhost:3000/register/{{user.referralCode}}" target="_blank" class="button is-success">
                    <span class="icon">
                        <i class="fa-brands fa-square-whatsapp"></i>
                    </span>
                    <span>WhatsApp</span>
                </a>
                <button class="button" onclick="window.open('mailto:?subject=Join [WEBSITE] with my referral&body=Join [Website] for chances to win cool prizes! Use my code {{user.referralCode}} to sign-up! http://localhost:3000/register/{{user.referralCode}}');">
                    <span class="icon is-small">
                        <i class="fa-solid fa-square-envelope"></i>
                    </span>
                    <span>Email</span>
                </button>
            </div>
            <div class="control" id="copyLinkInfo" style="display: none;">
            <p class="is-success">The link has been copied!</p>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input id="shareLinkText" class="input is-success" type="text" value="http://localhost:3000/register/{{user.referralCode}}" readonly />
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-link"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
        </div>
        </div>
    </div>
</div>
<hr></hr>

